<a href="https://colab.research.google.com/github/katie0809/2022Military-Chatbot-jupyter/blob/main/source/22'Military_Chatbot_ipynb_txt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Version History

|version|Score|Changes|Comment|
|-|-|-|-|
|1.0|-|Initial model| 22.07.13 |

## Environments

In [ ]:
API_URL_SAMPLE='https://openapi.mnd.go.kr/3232313634343937343732313632313430/xml/DS_MND_ENLSTMN_DCNT_BEF_INF/1/5/'
HOME_PATH='/content/drive/MyDrive/'
WORK_DIR=HOME_PATH+'/military-chatbot'
MODEL_DIR=WORK_DIR+'/models'

In [ ]:
%cd $WORK_DIR

/content/drive/MyDrive/military-chatbot

In [ ]:
!python3 --version

#### FastText

In [ ]:
!git clone https://github.com/facebookresearch/fastText.git
%cd $WORK_DIR/fastText

Cloning into 'fastText'...
remote: Enumerating objects: 3930, done.
remote: Counting objects: 100% (944/944), done.
remote: Compressing objects: 100% (140/140), done.
remote: Total 3930 (delta 854), reused 804 (delta 804), pack-reused 2986
Receiving objects: 100% (3930/3930), 8.24 MiB | 8.53 MiB/s, done.
Resolving deltas: 100% (2505/2505), done.
Checking out files: 100% (526/526), done.
/content/drive/MyDrive/military-chatbot/fastText

In [ ]:
!make

c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/args.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/autotune.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/matrix.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/dictionary.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/loss.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/productquantizer.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/densematrix.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/quantmatrix.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/vector.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/model.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/utils.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/meter.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG -c src/fasttext.cc
c++ -pthread -std=c++11 -march=native -O3 -funroll-loops -DNDEBUG args.o autotune.o matrix.o dictionary.o loss.o productquantizer.o densematrix.o quantmatrix.o vector.o model.o utils.o meter.o fasttext.o src/main.cc -o fasttext

#### 3i4k 한국어 의도분류모델

In [ ]:
!git clone https://github.com/warnikchow/3i4k.git

Cloning into '3i4k'...
remote: Enumerating objects: 523, done.
remote: Counting objects: 100% (31/31), done.
remote: Compressing objects: 100% (31/31), done.
remote: Total 523 (delta 11), reused 0 (delta 0), pack-reused 492
Receiving objects: 100% (523/523), 21.41 MiB | 11.53 MiB/s, done.
Resolving deltas: 100% (244/244), done.

Python 3.7.13

In [ ]:
%cd 3i4k
!python3 3i4k_demo.py

/content/drive/MyDrive/military-chatbot/3i4k












#########################################################
#                                                       #
#       Demonstration video: 3i for Korean (3i4K)       #
#                                                       #
#########################################################
Traceback (most recent call last):
  File "3i4k_demo.py", line 8, in <module>
    import fasttext
ModuleNotFoundError: No module named 'fasttext'

# Install Libraries

# Import Libraries

In [ ]:
import pandas as pd
import numpy as np
import os
import seaborn as sns

import sklearn

import tensorflow as tf
from tensorflow import keras

In [ ]:
print(tf.__version__)
print(sklearn.__version__)
print(np.__version__)
print(pd.__version__)

2.8.2
1.0.2
1.21.6
1.3.5

# Load Files

In [ ]:
df = pd.read_csv(WORK_DIR+'/sample.csv', encoding='cp949')
df

,행번호,지역,시설명,할인행사명,시작일,종료일,연락처,홈페이지,상세설명
0,1,서울,세종호텔,연중 객실할인,2018-09-17,NaN,02-3705-9115,https://www.welfare.mil.kr,"객실: 50% 이상,연회 : 10%15%"
1,2,경남,거제삼성호텔,연중 객실할인,2017-01-01,NaN,055-631-2114,https://www.welfare.mil.kr,객실 55%62%내외
2,3,경기,베어스타운리조트,연중 객실할인,2016-11-25,NaN,02-456-2014,https://www.cielsportsmedia.co.kr,"프로모션(패키지상품)위주로 운영, 현장결재(최저가보장), 씨엘스포츠 폐쇄몰 이용"
3,4,강원,하이원리조트,연중 객실할인,2017-06-19,NaN,1588-7789,https://www.welfare.mil.kr,"프로모션(패키지상품)위주로 운영, 현장결재(최저가보장)"
4,5,강원,용평리조트 객실할인,연중 객실할인,2016-07-01,NaN,02-456-2014,https://www.welfare.mil.kr,"프로모션(패키지상품)위주로 운영, 현장결재(최저가보장),씨엘스포츠 폐쇄몰 이용"
...,...,...,...,...,...,...,...,...,...
84,85,전국,제주항공(수송사),연중 운임할인,2016-12-02,2026-06-30,02-3419-7553,https://www.welfare.mil.kr,7~25%
85,86,전국,통인익스프레스,이용할인,2018-02-01,2023-02-28,1899-0123,https://www.welfare.mil.kr,12%20%
86,87,전국,로젠이사,이용할인,2018-02-01,2023-02-28,1544-0024,https://www.welfare.mil.kr,7%13%
87,88,전국,대신로지스틱스,이용할인,2018-02-01,2023-02-28,02-3436-0123,https://www.welfare.mil.kr,5%7%
88,89,전국,국민트랜스,이용할인,2018-02-01,2023-02-28,02-482-0071,https://www.welfare.mil.kr,10%14%

In [ ]:
word_dict = pd.read_csv(WORK_DIR+'/word_dictionary.csv', encoding='cp949')
word_dict

        단어 명     물리 명                   영문 명  금칙어 분류어 여부 정의내용
0          5        5                   FIVE  NaN    NaN   생략
1         12       12                 TWELVE  NaN    NaN   생략
2         13       13               THIRTEEN  NaN    NaN   생략
3         14       14               FOURTEEN  NaN    NaN   생략
4         15       15                FIFTEEN  NaN    NaN   생략
...      ...      ...                    ...  ...    ...  ...
18345  희생공헌자  SCRCTBR  SACRIFICE CONTRIBUTOR  NaN    NaN   생략
18346    희생자   VICTIM                 VICTIM  NaN    NaN   생략
18347  희생자심사    VCJDG         VICTIM JUDGING  NaN    NaN   생략
18348     희소     RARN               RARENESS  NaN    NaN   생략
18349     힌트     HINT                   HINT  NaN    NaN   생략

[18350 rows x 6 columns]