# Environments

In [87]:
import pandas as pd
import numpy as np

In [88]:
WORK_DIR='E://Workspace/Git/2022Military-Chatbot-jupyter/'

## Setting for colab

In [71]:
# Clone Git Repo(only for Google Colab)
# !git clone https://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@github.com/koscomcop/2022Military-Chatbot-jupyter.git

In [72]:
WORK_DIR='/content/2022Military-Chatbot-jupyter/'
%cd $WORK_DIR

[WinError 3] 지정된 경로를 찾을 수 없습니다: '/content/2022Military-Chatbot-jupyter/'
E:\Workspace\Git\2022Military-Chatbot-jupyter\source

#### Git Push

In [73]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   ../.gitignore
	modified:   ../files/intent_tokenizer.pickle
	modified:   ../models/intent_model.h5
	modified:   create_dataset.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	../files/.ipynb_checkpoints/
	../files/config.json
	../files/pytorch_model.bin
	../files/vocab.txt
	"../files/~$22'\354\261\227\353\264\207_\354\247\210\354\235\230\354\204\244\352\263\204\354\204\234_v1.0.xlsx"

no changes added to commit (use "git add" and/or "git commit -a")

In [74]:
# !git add .
# !git status

In [75]:
# Push Git Repo
# !git config --global user.email "dlruddla89@gmail.com"
# !git config --global user.name "katie0809"

In [76]:
# !git commit -m '복지 질문 학습셋 추가'

In [77]:
# !git remote add origin https://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@github.com/koscomcop/2022Military-Chatbot-jupyter.git

In [78]:
# !git push origin main

# 일상대화 데이터셋 제작

In [99]:
FILES_DIR=WORK_DIR+'files/korean_qa/'

In [100]:
import os

korean_qas = []
for dirname, _, filenames in os.walk(FILES_DIR):
    for filename in filenames:
        filepath = os.path.join(dirname, filename)
        sample_df = pd.read_excel(filepath, encoding='utf-8')
        korean_qas.append(sample_df)
        print(f'[{filename.split(".")[0]}] # of data : {len(sample_df.index)} ======================================>')
        display(sample_df.head())
        print('\n')

[A 음식점(15,726)_new] # of data : 15726 ======================================>

,SPEAKER,SENTENCE,DOMAINID,DOMAIN,CATEGORY,SPEAKERID,SENTENCEID,MAIN,SUB,QA,QACNCT,MQ,SQ,UA,SA,개체명,용어사전,지식베이스
0,고객,지금 배달되나요?,A,음식점,배달음식점,1,1,배달가능문의,NaN,Q,NaN,지금 배달되나요?,NaN,NaN,NaN,"수고, 지금, 배달",NaN,NaN
1,점원,아 네 배달됩니다,A,음식점,배달음식점,0,2,배달가능문의,NaN,A,NaN,NaN,NaN,NaN,아 네 배달됩니다,배달,NaN,NaN
2,고객,짬뽕류는 어떤 게 있나요? 잘 나가는 짬뽕 있나요?,A,음식점,배달음식점,1,3,베스트메뉴문의추천요청,NaN,Q,NaN,짬뽕류는 어떤 게 있나요? 잘 나가는 짬뽕 있나요?,NaN,NaN,NaN,짬뽕,NaN,짬뽕/메뉴
3,점원,특해물 짬뽕도 있고 전복 새우 짬뽕도 있고 해물 종류도 새우 홍합 전복 없는 게 없습니다,A,음식점,배달음식점,0,4,베스트메뉴문의추천요청,NaN,A,NaN,NaN,NaN,NaN,특해물 짬뽕도 있고 전복 새우 짬뽕도 있고 해물 종류도 새우 홍합 전복 없는 게 없습니다,"특해물 짬뽕, 전복 새우 짬뽕, 해물 종류, 새우, 홍합, 전복",NaN,"특해물 짬뽕/메뉴, 전복 새우 짬뽕/메뉴, 새우/해물/재료, 홍합/해물/재료, 전복..."
4,고객,전복 들어가는 거는 특해물 짬뽕 시켜야 돼요?,A,음식점,배달음식점,1,5,메뉴정보문의,NaN,Q,NaN,전복 들어가는 거는 특해물 짬뽕 시켜야 돼요?,NaN,NaN,NaN,"전복, 특해물 짬뽕",NaN,"전복/해물/재료, 특해물 짬뽕/메뉴"

[B 의류(15,826)_new] # of data : 15826 ======================================>

,SPEAKER,SENTENCE,DOMAINID,DOMAIN,CATEGORY,SPEAKERID,SENTENCEID,MAIN,SUB,QA,QACNCT,MQ,SQ,UA,SA,개체명,용어사전,지식베이스,Unnamed: 18
0,고객,신발은 여기 있는 게 다예요?,B,의복의류점,신발,1,1,종류별신발제품문의요청,NaN,Q,NaN,신발은 여기 있는 게 다예요?,NaN,NaN,NaN,"신발, 여기",NaN,신발/제품,0.0
1,점원,네 성인이나 아동 다 있어요,B,의복의류점,신발,0,2,종류별신발제품문의요청,NaN,A,NaN,NaN,NaN,NaN,네 성인이나 아동 다 있어요,"성인, 아동",NaN,"성인/대상, 아동/대상",NaN
2,점원,발 사이즈 몇 신으세요?,B,의복의류점,신발,0,3,종류별신발제품문의요청,사이즈,Q,NaN,NaN,발 사이즈 몇 신으세요?,NaN,NaN,"발, 사이즈",NaN,NaN,NaN
3,고객,230이요,B,의복의류점,신발,1,4,종류별신발제품문의요청,사이즈,A,NaN,NaN,NaN,230이요,NaN,230,NaN,230/사이즈,NaN
4,점원,편하게 신을 수 있는 거 찾으세요?,B,의복의류점,신발,0,5,착화감,제품문의,Q,NaN,NaN,편하게 신을 수 있는 거 찾으세요?,NaN,NaN,NaN,NaN,NaN,NaN

[C 학원(4,773)_new] # of data : 4773 ======================================>

,SPEAKER,SENTENCE,DOMAINID,DOMAIN,CATEGORY,SPEAKERID,SENTENCEID,MAIN,SUB,QA,QACNCT,MQ,SQ,UA,SA,개체명,용어사전,지식베이스
0,고객,애가 고등학교 1학년인데 태권도 하려면 수강료가 얼마쯤?,C,학원,태권도,1,1,교육비문의,NaN,Q,NaN,애가 고등학교 1학년인데 태권도 하려면 수강료가 얼마쯤?,NaN,NaN,NaN,"고등학교 1학년, 태권도, 수강료, 얼마",NaN,"고등학교 1학년/대상, 태권도/과목"
1,점원,12만 원입니다,C,학원,태권도,0,2,교육비문의,NaN,A,NaN,NaN,NaN,NaN,12만 원입니다,12만 원,NaN,12만 원/금액
2,점원,뭐 때문에 하시려는데요?,C,학원,태권도,0,3,상담문의,수강목적,Q,NaN,NaN,뭐 때문에 하시려는데요?,NaN,NaN,NaN,NaN,NaN
3,고객,애가 겁도 많고 그래서 태권도 한 번 시켜보려고요,C,학원,태권도,1,4,상담문의,수강목적,A,NaN,NaN,NaN,애가 겁도 많고 그래서 태권도 한 번 시켜보려고요,NaN,"겁, 태권도, 한 번",NaN,NaN
4,고객,고1이 몇 명쯤 있나요?,C,학원,태권도,1,5,수강생구성문의,NaN,Q,NaN,고1이 몇 명쯤 있나요?,NaN,NaN,NaN,"고1, 몇 명",NaN,고1/대상

[D 소매점(14,949)_new] # of data : 14949 ======================================>

,SPEAKER,SENTENCE,DOMAINID,DOMAIN,CATEGORY,SPEAKERID,SENTENCEID,MAIN,SUB,QA,QACNCT,MQ,SQ,UA,SA,개체명,용어사전,지식베이스
0,고객,삼겹살 1근에 얼마에요?,D,소매,정육점,1,1,가격 문의,NaN,Q,NaN,삼겹살 1근에 얼마에요?,NaN,NaN,NaN,"삼겹살, 1근",NaN,"삼겹살/부위, 1근/중량"
1,점원,만원입니다,D,소매,정육점,0,2,가격 문의,NaN,A,NaN,NaN,NaN,NaN,만원입니다,만원,NaN,만원/금액
2,고객,넷이 먹을건데 2근이면 되나요?,D,소매,정육점,1,3,0인분 용량 문의,NaN,Q,NaN,넷이 먹을 건데 2근이면 되나요?,NaN,NaN,NaN,"넷, 2근",NaN,"넷/인원, 2근/중량"
3,점원,네 충분하세요,D,소매,정육점,0,4,0인분 용량 문의,NaN,A,NaN,NaN,NaN,NaN,네 충분하세요,NaN,NaN,NaN
4,고객,그럼 2근주세요,D,소매,정육점,1,5,용량별 고기 주문,NaN,Q,NaN,그럼 2근 주세요,NaN,NaN,NaN,2근,NaN,2근/중량

[E 생활서비스(11,087)_new] # of data : 11087 ======================================>

,SPEAKER,SENTENCE,DOMAINID,DOMAIN,CATEGORY,SPEAKERID,SENTENCEID,MAIN,SUB,QA,QACNCT,MQ,SQ,UA,SA,개체명,용어사전,지식베이스
0,고객,첫 방문 할인 되나요?,E,생활서비스,미용실,1,1,할인 문의,NaN,Q,NaN,첫 방문 할인되나요?,NaN,NaN,NaN,"첫, 방문, 할인",NaN,NaN
1,점원,"네, 30프로 됩니다.",E,생활서비스,미용실,0,2,할인 문의,NaN,A,NaN,NaN,NaN,NaN,"네, 30프로 됩니다.",30프로,NaN,30프로/할인율
2,고객,몇 시까지가야 펌 할 수 있나요?,E,생활서비스,미용실,1,3,원하는 시간에 예약이 가능 문의,NaN,Q,NaN,몇 시까지 가야 펌 할 수 있나요?,NaN,NaN,NaN,"몇 시, 펌",NaN,펌/시술
3,점원,오후 6시까지는 오셔야 합니다.,E,생활서비스,미용실,0,4,원하는 시간에 예약이 가능 문의,NaN,A,NaN,NaN,NaN,NaN,오후 6시까지는 오셔야 합니다.,오후 6시,NaN,오후 6시/시간
4,고객,두피 케어 서비스는 얼마 인가요?,E,생활서비스,미용실,1,5,모발 케어 서비스 가격 문의,NaN,Q,NaN,두피 케어 서비스는 얼마인가요?,NaN,NaN,NaN,두피 케어 서비스,NaN,두피 케어 서비스/시술

[F 카페(7,859)_new] # of data : 7859 ======================================>

,SPEAKER,SENTENCE,DOMAINID,DOMAIN,CATEGORY,SPEAKERID,SENTENCEID,MAIN,SUB,QA,QACNCT,MQ,SQ,UA,SA,개체명,용어사전,지식베이스
0,고객,아이스아메리카노 하나요,F,카페,카페,1,1,일반주문,NaN,Q,NaN,아이스 아메리카노 하나요,NaN,NaN,NaN,"아이스 아메리카노, 하나",NaN,NaN
1,점원,테이크아웃하실 건가요?,F,카페,카페,0,2,일반주문,테이크아웃여부,Q,NaN,NaN,테이크아웃하실 건가요?,NaN,NaN,테이크아웃,NaN,NaN
2,고객,네 텀블러에 넣어주세요,F,카페,카페,1,3,텀블러사용,NaN,Q,NaN,네 텀블러에 넣어주세요,NaN,NaN,NaN,텀블러,NaN,NaN
3,점원,텀블러 할인 300원 해드릴게요,F,카페,카페,0,4,텀블러사용,NaN,A,NaN,NaN,NaN,NaN,텀블러 할인 300원 해드릴게요,"텀블러, 할인, 300원",NaN,NaN
4,고객,그란데 사이즈로 주세요,F,카페,카페,1,5,일반주문,NaN,Q,NaN,그란데 사이즈로 주세요,NaN,NaN,NaN,그란데 사이즈,NaN,NaN

[G 숙박업(7,113)_new] # of data : 7113 ======================================>

,SPEAKER,SENTENCE,DOMAINID,DOMAIN,CATEGORY,SPEAKERID,SENTENCEID,MAIN,SUB,QA,QACNCT,MQ,SQ,UA,SA,개체명,용어사전,지식베이스
0,고객,사월 십삼일 일박 이일로 예약이 가능한가요?,G,숙박,호텔,1,1,특정날짜예약문의,NaN,Q,NaN,사월 십삼일 일박 이일로 예약이 가능한가요?,NaN,NaN,NaN,"사월,십삼일,일박 이일,예약",NaN,"사월/달,십삼일/날짜,일박 이일/날짜"
1,점원,"네, 저희 홈페이지에 들어가면 지금 예약이 가능하실 거예요",G,숙박,호텔,0,2,특정날짜예약문의,NaN,A,NaN,NaN,NaN,NaN,"네, 저희 홈페이지에 들어가면 지금 예약이 가능하실 거예요","홈페이지,예약",NaN,홈페이지/컴퓨터
2,고객,숙박 비용이 대략 얼마인지 말씀을 해주실 수 있어요?,G,숙박,호텔,1,3,이용요금문의,NaN,Q,NaN,숙박 비용이 대략 얼마인지 말씀을 해주실 수 있어요?,NaN,NaN,NaN,"숙박 비용,얼마",NaN,숙박 비용/비용
3,점원,사월 십삽일 같은 경우에는 극성수기 주말이라 스탠다드룸 두 분 기준에 구만원이에요,G,숙박,호텔,0,4,이용요금문의,NaN,A,NaN,NaN,NaN,NaN,사월 십삽일 같은 경우에는 극성수기 주말이라 스탠다드룸 두 분 기준에 구만원이에요,"사월,십삽일,극성수기,주말,스탠다드룸,두 분,구만원",NaN,"사월/달,십삽일/날짜,극성수기/시기,스탠다드룸/객실 종류,두 분/인원,구만원/가격"
4,고객,사인 가족이 가면 얼마에요?,G,숙박,호텔,1,5,이용요금문의,NaN,Q,NaN,사인 가족이 가면 얼마에요?,NaN,NaN,NaN,"사인,가족,얼마",NaN,사인/인원

[H 관광여가오락(4,949)_new] # of data : 4949 ======================================>

,SPEAKER,SENTENCE,DOMAINID,DOMAIN,CATEGORY,SPEAKERID,SENTENCEID,MAIN,SUB,QA,QACNCT,MQ,SQ,UA,SA,개체명,용어사전,지식베이스
0,고객,1시간에 얼마인가요?,H,관광여가오락,pc방,1,1,이용 가격 문의,NaN,Q,NaN,1시간에 얼마인가요?,NaN,NaN,NaN,1시간,NaN,1 시간/이용시간
1,점원,처음 1시간은 1000원이고 이후 1시간은 500원씩 추가됩니다,H,관광여가오락,pc방,0,2,이용 가격 문의,NaN,A,NaN,NaN,NaN,NaN,처음 1시간은 1000원이고 이후 1시간은 500원씩 추가됩니다,"처음, 1시간, 1000원, 이후, 1시간, 500원, 추가",NaN,"1시간/이용시간, 1000원/이용가격, 1시간/이용시간, 500원/이용가격"
2,고객,무인발급기 있나요?,H,관광여가오락,pc방,1,3,무인시스템 이용 문의,NaN,Q,NaN,무인발급기 있나요?,NaN,NaN,NaN,무인발급기,NaN,무인발급기/이용수단
3,점원,무인발급기는 카운터 바로 옆쪽에 이용 가능합니다,H,관광여가오락,pc방,0,4,무인시스템 이용 문의,NaN,A,NaN,NaN,NaN,NaN,무인발급기는 카운터 바로 옆쪽에 이용 가능합니다,"무인발급기, 카운터, 옆쪽, 이용",카운터/계산대,"무인발급기/이용수단, 옆쪽/방향"
4,고객,1달 정액권 끊을 수 있나요?,H,관광여가오락,pc방,1,5,정액권 문의,NaN,Q,NaN,1달 정액권 끊을 수 있나요?,NaN,NaN,NaN,"1달, 정액권",NaN,"1달/이용기간, 정액권/정액제"

[I 부동산(8,131)_new] # of data : 8131 ======================================>

,SPEAKER,SENTENCE,DOMAINID,DOMAIN,CATEGORY,SPEAKERID,SENTENCEID,MAIN,SUB,QA,QACNCT,MQ,SQ,UA,SA,개체명,용어사전,지식베이스
0,고객,감귤밭 팔려고 하는데 어느정도에 팔 수 있을까요?,I,부동산,토지,1,1,시세문의,NaN,Q,NaN,감귤밭 팔려고 하는데 어느 정도에 팔 수 있을까요?,NaN,NaN,NaN,감귤밭,NaN,감귤밭/매물
1,점원,그쪽 지역은 아직 땅값이 별로 안나가서 많이는 못받을 것 같습니다.,I,부동산,토지,0,2,시세문의,NaN,A,NaN,NaN,NaN,NaN,그쪽 지역은 아직 땅값이 별로 안 나가서 많이는 못 받을 것 같습니다.,"그쪽 지역, 땅값",NaN,그쪽 지역/위치
2,고객,지금은 안파는게 좋나요?,I,부동산,토지,1,3,시세문의,NaN,Q,NaN,지금은 안 파는 게 좋나요?,NaN,NaN,NaN,NaN,NaN,NaN
3,점원,조금만 참는게 좋을것 같습니다.,I,부동산,토지,0,4,시세문의,NaN,A,NaN,NaN,NaN,NaN,조금만 참는 게 좋을 것 같습니다.,NaN,NaN,NaN
4,고객,언제쯤 오를까요?,I,부동산,토지,1,5,시세변동문의,NaN,Q,NaN,언제쯤 오를까요?,NaN,NaN,NaN,언제,NaN,NaN

[교통_최종본(0416)] # of data : 667 ======================================>

,44,화자,intent,subintent,question,answer,q_entity,a_entity,용어사전,지식베이스,13
0,44,민원인,길찾기,NaN,대구역 앞에서 서문시장가는 버스있나요,대구역 앞에서요 육백이십삼번 그리고 삼백 육백이십삼번 탑승하시면은 환승 안 하시고 ...,"대구역 앞, 서문시장, 버스,","대구역 앞, 육백이십삼번, 삼백, 육백이십삼번, 탑승, 큰장네거리","서문시장/서문시장, 탑승/승차","대구역 앞/출발지/위치,서문시장/도착지/위치,",13
1,44,민원인,분실물,NaN,분실물 때문에 전화드렸는데요,택시회사로 한번 확인을 해 보셔야 될 것 같구요 제가 택시회사번호를 좀 알려드릴까요,분실물,"택시회사, 택시, 회사번호","분실물/분실물, 회사번호/회사번호",NaN,13
2,44,상담사,분실물,분실물,어떤 물품이요 선생님,가방에 안에다가 지갑을 넣었는데 가방을 놓고 내렸는 것 같아가지고,물품,"가방, 지갑",NaN,"가방/분실물/분실물,",13
3,44,상담사,분실물,대중교통수단,버스에서 말씀이십니까?,택시요,버스,택시,NaN,"버스/대중교통수단/교통수단,택시/대중교통수단/교통수단,",13
4,44,상담사,분실물,시간,언제 그러신 거세요 선생님,일월 일일요 새벽 여섯시 쯤요,NaN,"일월, 일일, 새벽, 여섯시",NaN,"일월 일일 새벽 여섯시/시간/시간,",13

[상수도_최종본(0416)] # of data : 726 ======================================>

,도메인,화자,intent,subintent,question,answer,q_entity,a_entity,동의어,지식베이스,Unnamed: 10
0,46,민원인,요금 문의,NaN,수도 요금 이거 낼려고 그러는데요,그러면 청구된 금액 확인해 보니까요 선생님 지금 구월달 십일월달 지금 두 달치 지금...,"수도 요금,","청구, 금액, 확인, 구월달, 십일월달, 두 달, 두 번, 청구금액, 납부, 상태,...","수도 요금/수도 요금, 금액/금액, 두 달/두달, 두 번/두 개, 청구금액/요금, ...",NaN,13
1,46,상담사,요금 문의,관리번호,아 수도 요금이요 제가 요금 확인 도와드릴텐데요 선생님 혹시 고지서 상에 관리번호 ...,이공공사 영영삼하나 육육이요,"수도 요금, 요금 확인, 고지서, 관리번호, 확인, 가능,","이공공사 영영삼하나 육육,","수도 요금/수도 요금, 고지서/상수도요금고지서, 관리번호/관리번호, ,","이공공사 영영삼하나 육육./관리번호/관리번호,",13
2,46,상담사,요금 문의,이름,선생님 고지서 상에 성함이 어떻게 되어 있습니까?,아 백일호로 되어 있는데요,"고지서, 성함,","백일호,","고지서/상수도요금고지서, 성함/성함, ,","백일호/이름/이름,",13
3,46,민원인,요금 문의,NaN,상수도 요금 못 냈는데 이게 가상계좌로 지금 못 넣잖아요 날짜가 지나면,아 가상계좌로 입금은 가능하세요,"상수도 요금, 가상계좌, 날짜,","가상계좌, 입금, 가능,","상수도 요금/수도 요금, 가상계좌/가상계좌번호, 입금/입금, ,",NaN,13
4,46,상담사,요금 문의,관리번호,혹시 관리번호 확인 가능할까요,이영영 팔영영영 일칠칠,"관리번호, 확인, 가능,","이영영 팔영영영 일칠칠,","관리번호/관리번호, ,","이영영 팔영영영 일칠칠/관리번호/관리번호,",13

[여권 최종본(0416)] # of data : 403 ======================================>

,도메인,화자,intent,subintent,question,answer,q_entity,a_entity,용어사전,지식베이스,Unnamed: 10
0,43,민원인,갱신/재발급,NaN,여권 기한이 다돼가지고 새로 재발급 해야되가지고요,아 그러세요 선생님 그런 경우는 신규 발급하고 동일하구요 저희 머 시청이나 아니면 ...,"여권 기한, 재발급","신규발급, 시청, 중구청, 제외, 구청","여권 기한/유효기간, 재발급/재발급, 신규발급/신규발급, 제외/제한",NaN,13
1,43,민원인,갱신/재발급,NaN,여권 시간이 좀 돼 가지고 뭐 재 발급인가 아니면 뭐 다시 해야 될 낀데 어떻게 하...,아 여권 기간이 끝나셨으면은요 여권을 이제 새로 만드셔야 되는데요,"여권, 시간, 재 발급","여권, 기간","재 발급/재발급, 기간/기한",NaN,13
2,43,민원인,갱신/재발급,NaN,여권연장 발급할라 카는데요,아 그러시다면 요즘에는 예전처럼 여권 갱신이라는 의미가 없으시고 여권신규발급과 동일...,"여권, 연장, 발급","여권, 갱신, 여권, 신규발급, 동일, 접수","연장/재발급, 발급/발급, 갱신/재발급, 신규발급/신규발급, 접수/접수",NaN,13
3,43,민원인,갱신/재발급,NaN,여권을 갱신하고 싶은데 거 어디로 가만 되지요,지금 대구에서는 대구시청을 방문하셔도 되고 중구청을 제외한 가까운 구 군청에서도 동...,"여권, 갱신","대구, 대구시청, 방문, 중구청, 제외, 구 군청, 여권, 업무","갱신/재발급, 대구시청/대구시청, 방문/방문, 제외/제한, 구 군청/구군청, 업무/접수",NaN,13
4,43,민원인,갱신/재발급,NaN,갱신이란 건 없습니까?,예 그렇습니다. 신규 발급인데요,갱신,신규 발급,갱신/재발급,NaN,13

[차량등록_최종본(0429)] # of data : 3746 ======================================>

,도메인,화자,main,subintent,question,answer,q_entity,a_entity,동의어,지식베이스,Unnamed: 10
0,45,민원인,업무시간,NaN,네 수고하십니다. 오늘 차량등록 됩니까?,어 오늘은 공휴일이라서 업무를 보지 않고 있고요 월요일부터 금요일까지 업무시간입니다.,차량등록,"공휴일, 업무, 월요일, 금요일, 업무시간","차량등록/차량등록, 금요일/금요일, 업무시간/근무시간,",NaN,13
1,45,민원인,임시번호판기간,NaN,어 삼십일일자까지 임시 남바 기간이면은 어떻게 해요 삼일동안 그냥 벌금내고 그냥 타...,신규차량은 삼십일일까지였으면 공휴일 삼십일일까지요,"삼십일일자, 임시 남바 기간, 삼일, 벌금","신규차량, 삼십일일, 공휴일","삼십일일자/삼십일일, 벌금/벌금, 신규차량/신규차량, 삼십일일/삼십일일,",NaN,13
2,45,민원인,과태료,NaN,뭐 과태료는 삼일정도 같으면 얼마 정도 나옵니까?,어 십일이 지나고 나서 다시 또 십일 안에는 십일 이내에는 오만원입니다.,"과태료, 삼일","십일, 십일 안, 십일 이내, 오만원","과태료/과태료, 십일/십일, 십일 안/십일 이내, 십일 이내/십일 이내,",NaN,13
3,45,민원인,과태료,NaN,그니까 단속되면 어떻게 됩니까?,처분대상이 되겠지요,"단속,",처분대상,NaN,NaN,13
4,45,민원인,과태료,NaN,어떻게 처분이 되죠.,원래는 등록을 하셔야 되는데 단속이 되시면은 그거는 이제 경찰에서 단속을 하는 부분...,"처분,","원래, 등록, 경찰, 단속, 처분결과, 경찰서","경찰서/경찰서,",NaN,13

In [101]:
train_chat = pd.DataFrame(columns=['question', 'class', 'topic', 'entities', 'synonym'])
train_chat

Empty DataFrame
Columns: [question, class, topic, entities, synonym]
Index: []

In [102]:
for _qa in korean_qas[:9]:
    _qa = _qa[_qa['QA']=="Q"]
    _qa = _qa[['SENTENCE', 'DOMAIN', 'MAIN', '개체명', '지식베이스']]
    _qa.columns = train_chat.columns
    train_chat = pd.concat([train_chat, _qa], axis=0)
    
train_chat = train_chat.reset_index(drop=True)

In [103]:
train_chat

,question,class,topic,entities,synonym
0,지금 배달되나요?,음식점,배달가능문의,"수고, 지금, 배달",NaN
1,짬뽕류는 어떤 게 있나요? 잘 나가는 짬뽕 있나요?,음식점,베스트메뉴문의추천요청,짬뽕,짬뽕/메뉴
2,전복 들어가는 거는 특해물 짬뽕 시켜야 돼요?,음식점,메뉴정보문의,"전복, 특해물 짬뽕","전복/해물/재료, 특해물 짬뽕/메뉴"
3,전복 들어가고 여러 가지 또 딴 것도 들어가죠?,음식점,메뉴정보문의,전복,전복/해물/재료
4,마차이 짬뽕밥은 돼지고기 들어가나요?,음식점,메뉴정보문의,"마차이 짬뽕밥, 돼지고기","마차이 짬뽕밥/메뉴, 돼지고기/재료"
...,...,...,...,...,...
51060,1억 원대에 매매 가능한 토지 있어요?,부동산업,희망매매가매물문의,NaN,NaN
51061,평당 500만 원 정도로 매매 가능한 토지 있는지 알려주실래요?,부동산업,희망매매가매물문의,NaN,NaN
51062,2억 5000만 원까지 생각하고 있는데 그런 토지가 있나요?,부동산업,희망매매가매물문의,NaN,NaN
51063,지금 가장 싼 토지 매물 한 번 보여주실래요?,부동산업,희망매매가매물문의,NaN,NaN
51064,평당 90만으로 괜찮은 곳 있어요?,부동산업,희망매매가매물문의,NaN,NaN

In [104]:
train_chat['class'].unique()

array(['음식점', '의복의류점', '학원', '소매', '생활서비스', '카페', '숙박', '관광여가오락', '부동산',
       '부동산업'], dtype=object)

In [105]:
train_chat.to_csv(WORK_DIR+'files/raw_chat.csv', index=False)

In [108]:
# 학습용으로 1만개만 뽑아서 따로 저장
import random

train_chat_small = train_chat[['question']].sample(10000)

In [109]:
train_chat_small.to_csv(WORK_DIR+"files/train_chat.csv", index=False)

# 의도 데이터셋 제작

In [110]:
FILES_DIR=WORK_DIR+'assets/'

In [111]:
import os

raw_datas = []
for dirname, _, filenames in os.walk(FILES_DIR):
    for filename in filenames:
        filepath = os.path.join(dirname, filename)
        print(filename)

국방부 병사 보급기준 정보_20200924.csv
국방부_TMO(여행장병 안내소) 정보_20190930.csv
국방부_국군복지단 복지시설_20220426.csv
국방부_국군복지단 복지지설 상세 현황_20220426.csv
국방부_군 복지 휴양시설 정보_10_01_2018.csv
국방부_군 복지시설 주변 관광지 정보_20200831.csv
국방부_군인(간부) 봉급표_20200930.csv
국방부_병사 할인 혜택 정보_20220426.csv
국방부_신분별 군 정원_20200101.csv
국방부_영외 군인아파트 현황_20201231.csv
국방부_한국국방연구원 도서관 보유 국내외 정기간행물 목록_20210930.csv
국방부_현역군인 내 집 마련 정보_20210816.csv
국방전자도서관 도서정보.csv
방위사업청_국방통합 용어사전_20210915.csv
병사 봉급 정보.csv
제7296부대 병영 표준 식단.xls.pia
국방부 PX 인기상품 정보_20220531.csv
국방부_공군사관학교 교육과정_20200930.csv
국방부_군병원 정보_20200701.csv
국방부_군인연금 기금운용 현황_20201231.csv
국방부_군인연금 기금자산 현황_20201231.csv
국방부_군인연금 수급인원 현황_20201231.csv
국방부_영외 군인아파트 현황_20201231.csv
국방부_육군3사관학교 교육과정_20200930.csv
국방부_육군사관학교 교육과정_20210918.xlsx.pia
국방부_육사신문_20200929.zip
국방부_체력단련장 정보_20190829..csv
국방부_해군사관학교 교육과정_20200930.csv
군사법원 연락처 정보.csv
연도별 장병 체력검정 기준 정보.csv

In [112]:
import pandas as pd
import numpy

In [113]:
def get_dfs(file_names):
    dfs = []
    for fnm in file_names:
        sample_df = pd.read_csv(FILES_DIR+fnm, encoding='utf-8')
        dfs.append(sample_df)
        print(f'[{fnm.split(".")[0]}] # of data : {len(sample_df.index)} ======================================>')
        display(sample_df.head())
        print('\n')
        
    return dfs

In [114]:
def print_dfs(file_names):
    for fnm in file_names:
        sample_df=pd.read_csv(FILES_DIR+fnm, encoding='utf-8')
        print(f'[{fnm.split(".")[0]}] # of data : {len(sample_df.index)} ======================================>')
        display(sample_df.head())
        print('\n')

## 의도 총 6개
- 복지 : 할인혜택, 휴양시설, 복지시설
- 주거 : 관사주택정보, 관사분양정보
- 정원 : 군별 병사/장교 인원정보
- 급여 : 병사/장교 급여정보
- 도서
- 식단

## 1.복지
### 1) QnA Template
- 특정시설 정보 질몬
    - 특정시설 일반정보 답변
- 특정지역 시설여부 질문
    - 특정지역 해당 시설목록 답변
    - 특정지역 해당 여행장병안내소 답변
    
### 2) Named Entity
: 추출해야할 개체 종류 ==> 지역, 시설

#### 개체추출 ==> 지역

In [115]:
file_names = [
#     '국방부 PX 인기상품 정보_20220531.csv',
#     '국방부 병사 보급기준 정보_20200924.csv',
    '국방부_TMO(여행장병 안내소) 정보_20190930.csv',
    '국방부_국군복지단 복지시설_20220426.csv',
    '국방부_국군복지단 복지지설 상세 현황_20220426.csv',
    '국방부_군 복지 휴양시설 정보_10_01_2018.csv',
#     '국방부_군 복지시설 주변 관광지 정보_20200831.csv',
#     '국방부_군병원 정보_20200701.csv',
#     '국방부_군인(간부) 봉급표_20200930.csv',
    '국방부_병사 할인 혜택 정보_20220426.csv',
#     '국방부_신분별 군 정원_20200101.csv',
#     '방위사업청_국방통합 용어사전_20210915.csv',
]

In [116]:
df_welfare = get_dfs(file_names)

[국방부_TMO(여행장병 안내소) 정보_20190930] # of data : 50 ======================================>

,TMO명,일반전화번호,평일운용시간(시작),평일운용시간(종료),주말운용시간(시작),주말운용시간(종료),위치설명,비고
0,강릉,033-641-9690,7:00,18:00,7:00,18:00,3번출구2시방향여자화장실옆,NaN
1,경산,053-750-4556,7:20,17:10,NaN,NaN,경산역출구에서좌측4m지점,휴일미운용
2,계룡,042-550-4254,6:30,20:00,6:30,20:00,계룡역역광장출구방향정면30m지점붉은벽돌건물,NaN
3,광명,02-801-6791,7:00,19:00,7:00,19:00,광명역서편1번출구지하1층,NaN
4,광주송정,062-940-7788,7:00,19:00,7:00,19:00,광주송정역1층운영,NaN

[국방부_국군복지단 복지시설_20220426] # of data : 73 ======================================>

    구분     시설명                        주소           연락처
0  기숙사  대방학사1관       서울시 영등포구여의대방로 49길 3   02-847-0981
1  기숙사  대방학사2관     서울시 영등포구여의대방로 43라길 17   02-832-2219
2  기숙사    도봉학사           경기도 의정부시호암로 129  031-878-2090
3  기숙사    무등학사  광주광역시 동구학소로 62번길 14-45번지  062-226-0164
4  기숙사    무열학사         대구시 달서구와룡로 51길 36  053-750-6917

[국방부_국군복지단 복지지설 상세 현황_20220426] # of data : 106 ======================================>

,운영구분,시설명,지역1,지역2,우편번호,주소1,주소2,일반전화,축제행사,운용객실홀수또는수용능력,...,현역군무원비수기,현역군무원휴일주말,현역군무원성수기,예비역및기타비수기,예비역및기타휴일주말,예비역및기타성수기,비회원비수기,비회원휴일주말,비회원성수기,적용기준일
0,국방부,대천콘도1관,충청,충남,355943,충청남도 보령시 갓바위1길,10월 30일,041-932-6305,NaN,가용객실 47실,...,108000,122000.0,143000.0,119000.0,135000.0,157000.0,146000.0,196000.0,229000.0,NaN
1,국방부,대천콘도1관,충청,충남,355943,충청남도 보령시 갓바위1길,10월 30일,041-932-6305,NaN,가용객실 47실,...,42000,61000.0,74000.0,46000.0,67000.0,82000.0,57000.0,98000.0,119000.0,NaN
2,국방부,대천콘도1관,충청,충남,355943,충청남도 보령시 갓바위1길,10월 30일,041-932-6305,NaN,가용객실 47실,...,42000,61000.0,74000.0,45000.0,67000.0,82000.0,57000.0,98000.0,119000.0,NaN
3,국방부,대천콘도1관,충청,충남,355943,충청남도 보령시 갓바위1길,10월 30일,041-932-6305,NaN,가용객실 47실,...,54000,71000.0,90000.0,59000.0,79000.0,99000.0,73000.0,114000.0,144000.0,NaN
4,국방부,대천콘도1관,충청,충남,355943,충청남도 보령시 갓바위1길,10월 30일,041-932-6305,NaN,가용객실 47실,...,60000,77000.0,95000.0,66000.0,84000.0,105000.0,81000.0,122000.0,153000.0,NaN

[국방부_군 복지 휴양시설 정보_10_01_2018] # of data : 13 ======================================>

,순번,시설 명,위치 주소,객실 수량,규모,연락처,부대시설,홈페이지 주소
0,1,서귀포호텔,제주도 서귀포시 상예로 319,64,지상 7층,064-738-0123,"노래방, 연회장, 스카이라운지, 식당, 커피숍, 매장",www.welfare.mil.kr
1,2,송정콘도,강원도 강릉시 창해로 141,42,지상 3층,033-652-7571,"세미나실, 마트, 노래방",www.welfare.mil.kr
2,3,대천콘도1관,충남 보령시 갓바위 1길 10-30,47,지상 5층,041-932-6305,"노래방, 세미나실, 마트, 배구장",www.welfare.mil.kr
3,4,대천콘도2관,충남 보령시 남포방조제로 139,38,지상 4층,041-934-0504,"세미나실, 노래방",www.welfare.mil.kr
4,5,화진포콘도,강원도 고성군 거진읍 화진포길 330,55,지상 4층,033-682-0500,"노래방, 연회실, 식당, 마트",www.welfare.mil.kr

[국방부_병사 할인 혜택 정보_20220426] # of data : 89 ======================================>

,행번호,지역,시설명,할인행사명,시작일,종료일,연락처,홈페이지,상세설명
0,1,서울,세종호텔,연중 객실할인,2018-09-17,NaN,02-3705-9115,https://www.welfare.mil.kr,"객실: 50% 이상,연회 : 10%∼15%"
1,2,경남,거제삼성호텔,연중 객실할인,2017-01-01,NaN,055-631-2114,https://www.welfare.mil.kr,객실 55%～62%내외
2,3,경기,베어스타운리조트,연중 객실할인,2016-11-25,NaN,02-456-2014,https://www.cielsportsmedia.co.kr,"프로모션(패키지상품)위주로 운영, 현장결재(최저가보장), 씨엘스포츠 폐쇄몰 이용"
3,4,강원,하이원리조트,연중 객실할인,2017-06-19,NaN,1588-7789,https://www.welfare.mil.kr,"프로모션(패키지상품)위주로 운영, 현장결재(최저가보장)"
4,5,강원,용평리조트 객실할인,연중 객실할인,2016-07-01,NaN,02-456-2014,https://www.welfare.mil.kr,"프로모션(패키지상품)위주로 운영, 현장결재(최저가보장),씨엘스포츠 폐쇄몰 이용"

In [117]:
# 지역 카테고리 따로 있는경우
locales = list(df_welfare[0]['TMO명'].unique())
locales += list(df_welfare[2]['지역1'].unique())
locales += list(df_welfare[2]['지역2'].unique())
locales += list(df_welfare[4]['지역'].unique())
print(set(locales))

{'충남', '동서울', '충북', '영동', '부평', '울산', '덕정', '지평', '서대전', '용산', '전북', '오근장', '논산', '동대구', '전주', '청량리', '강원', '구포', '광명', '연무대', '신경주', '수서', '만종', '창원중앙', '서울', '김천구미', '대전', '전라', '원주', '전남', '경상', '진해', '인천', '경북', '충청', '제천', '부산', '영천', '평택', '창원', '춘천', '진주', '퇴계원', '경남', '수원', '대구', '신탄진', '전국', '강릉', '마산', '경기', '홍성', '제주', '증평', '오송', '장성', '조치원', '목포', '계룡', '천안아산', '광주송정', '익산', '포항', '부강', '서울,강원', '경산'}

In [118]:
# 주소정보에서 지역 추출 : df_welfare[1]
df_welfare1_locales = list(df_welfare[1]['주소'].apply(lambda x:x.split(' ')[0]).unique())
print(df_welfare1_locales)
locales += df_welfare1_locales

['서울시', '경기도', '광주광역시', '대구시', '강원도', '서울특별시', '대전광역시', '부산광역시', '경기', '서울', '제주도', '경남', '전남', '충청남도', '충남', '충청북도', '전북', '제주특별자치도', '충북', '경북', '경상북도', '전라남도', '경상남도', '부산시']

In [119]:
# 주소정보에서 지역 추출 : df_welfare[3]
df_welfare3_locales = list(df_welfare[3]['위치 주소'].apply(lambda x:x.split(' ')[0]).unique())
print(df_welfare3_locales)
locales += df_welfare3_locales

['제주도', '강원도', '충남', '대전시', '서울시', '제주', '경남', '부산시']

In [120]:
locales = list(set(locales))
print(locales)

['전라남도', '부평', '용산', '전주', '광명', '수서', '충청북도', '서울', '부산시', '진해', '경북', '부산', '창원', '퇴계원', '경상남도', '증평', '영동', '울산', '광주광역시', '오근장', '논산', '청량리', '연무대', '신경주', '경기도', '창원중앙', '전라', '충청', '진주', '신탄진', '경기', '홍성', '제주', '오송', '충청남도', '부강', '서울시', '충북', '동서울', '대전시', '서대전', '대전광역시', '동대구', '구포', '부산광역시', '전남', '경상', '영천', '평택', '수원', '대구', '마산', '경상북도', '천안아산', '광주송정', '익산', '포항', '서울,강원', '전북', '경산', '충남', '덕정', '지평', '제주특별자치도', '강원', '만종', '제주도', '김천구미', '대전', '원주', '인천', '제천', '춘천', '경남', '대구시', '전국', '강릉', '강원도', '서울특별시', '장성', '조치원', '목포', '계룡']

In [121]:
locales += ['서울', '인천', '부산', '대전', '대구', '광주', '울산', '세종', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남']
locales = list(set(locales))
locales

['전라남도',
 '부평',
 '용산',
 '전주',
 '광명',
 '수서',
 '충청북도',
 '서울',
 '부산시',
 '진해',
 '경북',
 '부산',
 '창원',
 '퇴계원',
 '경상남도',
 '증평',
 '영동',
 '울산',
 '광주광역시',
 '세종',
 '오근장',
 '논산',
 '청량리',
 '연무대',
 '신경주',
 '경기도',
 '창원중앙',
 '전라',
 '충청',
 '진주',
 '신탄진',
 '경기',
 '홍성',
 '제주',
 '오송',
 '충청남도',
 '부강',
 '서울시',
 '충북',
 '동서울',
 '대전시',
 '서대전',
 '대전광역시',
 '광주',
 '동대구',
 '구포',
 '부산광역시',
 '전남',
 '경상',
 '영천',
 '평택',
 '수원',
 '대구',
 '마산',
 '경상북도',
 '천안아산',
 '광주송정',
 '익산',
 '포항',
 '서울,강원',
 '경산',
 '전북',
 '충남',
 '덕정',
 '지평',
 '제주특별자치도',
 '강원',
 '만종',
 '제주도',
 '김천구미',
 '대전',
 '원주',
 '인천',
 '제천',
 '춘천',
 '경남',
 '대구시',
 '전국',
 '강릉',
 '강원도',
 '서울특별시',
 '장성',
 '조치원',
 '목포',
 '계룡']

In [123]:
# 추출한 개체 저장
pd.DataFrame(locales).to_csv(WORK_DIR+'/files/지역.csv', index=False)

#### 개체추출 : 시설

In [124]:
facilities = ['TMO', '여행장병 안내소', '여행장병안내소']

In [125]:
# 시설명 따로 있는경우
facilities += list(df_welfare[1]['시설명'].unique())
facilities += list(df_welfare[2]['시설명'].unique())
facilities += list(df_welfare[3]['시설 명'].unique())
facilities += list(df_welfare[4]['시설명'].unique())
facilities = list(set(facilities))
print(facilities)

['쏠비치 진도', '디오션리조트호텔(여수)', '소노문 단양', '소노벨 비발디파크', '씨마크 호텔', '엘도라도', '아산스파비스', '롯데호텔(소공동)', 'JDX 멀티스포츠', '켄싱턴 충주', '화진포콘도', '손조 소노벨 비발디파크', '소노 쏠비치 진도', '에어서울(수송사)', '리솜 아일랜드(안면도)', '금호 통영', '진에어(수송사)', '쏠비치 삼척', '소노 쏠비치 양양', '세종호텔', '한화아쿠아플라넷', '동여주 체력단련장', '청풍리조트(제천)', 'N서울타워', '라마다플라자호텔(광주)', '소노캄 거제', '거제삼성호텔 ', '신세계(영랑호)', '소노 소노벨 청송', '청간정카라반', '웰리힐리스키시즌권', '대방학사1관', '한화 제주', '육군회관', '라발스호텔(부산)', '바이라한 경주', '어메이징파크', '호텔 금오산', '태릉 체력단련장', '베어스타운 리프트권', '한화 산정호수(안시)', '보광휘닉스파크스키시즌권', '대신로지스틱스', '노보텔앰배서더 수원(제주)', '씨에스호텔앤리조트', '국민트랜스', '서울해군회관', '소노 소노문 양평', '라마다제주 시티호텔(제주)', '소양학사', '리솜 포레스트(제천)', '베어스타운리조트', '아바니센트럴호텔(부산)', '페어필드바이메리어트부산송도비치호텔', '거제씨월드', '밀리토피아 호텔(민간위탁)', '티웨이항공(수송사)', '인제스피디움', 'CGV(국.복지정책과)', '여행장병 안내소', '소노 소노문 단양', '한화 대천(파로스)', 'TMO', '한화 양평', '도봉학사', '국방컨벤션', '더 플래닛(제주)', '롯데렌터카', '처인 체력단련장', '코오롱 씨클라우드호텔(해운대)', '베스트웨스턴프리미어 서울가든호텔', '더프라자호텔 서울', '리솜 스플라스(덕산)', '서귀포호텔', '대방학사2관', '하이원리조트', '통인익스프레스', '베어스타운', '켄싱턴 서귀포', '켄싱턴 경주', '용평리조트 리프트권', '금호 제주', '소노 소노캄 거제', '과천서울랜드', '라마다호텔(평창)', '한화 거제(벨버디어)', '공군회관', '대천콘도2관', '소노문 양평', '제주다인오세아노호텔앤리조트', '파라다이스호텔(부산)', '한화 용인(베잔송)', '보광휘닉스 제주', '밀리토피아 골프연습장', '세인트포골프&리조트', '소노 소노문 델피노', '롯데호텔 울산', '바이라한 울산', '신라스테이서대문/마포호텔', '켄싱턴호텔 여의도/평창/설악 지점', '빕스할인(국.복지정책과)', '칠보학사', '소노캄제주(샤인빌)', '메가박스할인(국.복지정책과)', '롯데씨티호텔마포/구로/대전점', '용평리조트 발왕산 케이블카 왕복권', '그라벨제주호텔', '계룡스파텔', '소노 소노벨 변산', '아스티부산호텔', '로젠이사', '코오롱 마우나오션리조트(경주)', '베어스타운스키시즌권', '아스타호텔 제주', '진해해군회관', '소노문 델피노', '현대수 설악', '용평리조트 객실할인', '무주 덕유산', '켄싱턴 해운대', '롯데시네마(국.복지정책과)', '남수원 체력단련장', '금호 설악', '해운대 그린나래호텔', '코리아나호텔', '한화 설악(쏘라노)', '펠릭스 바이 에스티엑스(해운대)', '송정콘도', '파라다이스 도고 스파', '에버랜드 자유이용(국.복지정책과)', '소노벨 변산', '거제씨앤스카이 리조트', '소노 소노벨 천안', '포포츠버이쉐라톤강남호텔', '바이라한 목포', '코엑스아쿠아리움', '금호 화순', '풍림아이원호텔&리조트(평창)', '바이라한 전주', '쏠비치 양양', '한화 해운대', '용평리조트 스키시즌권', '라마다플라자호텔(제주)', '신라스테이해운대', '소노벨 천안', '켄싱턴 설악비치', '켄싱턴 하동', '치악학사', '소노 쏠비치 삼척', '제주해군호텔', '리솜 레스트리(제천)', '더 웨스틴 조선 호텔', '자운학사', '소노 소노캄 여수', '소노 소노벨 경주', '한화 평창', '제주렌트카', '무열학사', '글래드호텔 마포/여의도', '농심호텔', '송파학사', '바이라한포항', '엘도라도(신안)', '소노캄 여수', '켄싱턴 한림', '한화 경주(에톤)', '호텔더숨포레스트', '대구그랜드호텔', '에어부산(수송사)', '롯데월드언더씨킹덤', '켄싱턴 설악 밸리', '소노벨 경주', '대천콘도1관', '켄싱턴 가평', '코오롱호텔(경주)', '청간정콘도', '소노벨 청송', '네스트호텔', '한화 여수 벨메르호텔', '해운학사', '여행장병안내소', '캠퍼트리호텔&리조트(제주)', '베어스타운리조트 스키장비 렌탈', '켄싱턴 지리산 남원', '제주항공(수송사)', '용평리조트 피크아일랜드', '웰리힐리파크', '무등학사']

In [126]:
# 시설명에서 불용어, 특수기호 제거
stw_f = ['(국.복지정책과)', '(수송사)', '(민간위탁)']
for i, x in enumerate(facilities):
    for s in stw_f:
        facilities[i] = facilities[i].replace(s, '')
    loc_idx = facilities[i].find('(')
    if loc_idx > 0:
        facilities[i] = facilities[i][:loc_idx]
    
print(set(facilities))

{'한화 용인', '쏠비치 진도', '펠릭스 바이 에스티엑스', '소노문 단양', '소노벨 비발디파크', '씨마크 호텔', '엘도라도', '한화 설악', '아산스파비스', 'JDX 멀티스포츠', '켄싱턴 충주', '에어서울', '화진포콘도', '손조 소노벨 비발디파크', '한화 산정호수', '소노 쏠비치 진도', '금호 통영', '캠퍼트리호텔&리조트', '쏠비치 삼척', '소노 쏠비치 양양', '세종호텔', '한화아쿠아플라넷', '동여주 체력단련장', '리솜 포레스트', 'N서울타워', '노보텔앰배서더 수원', '소노캄 거제', '거제삼성호텔 ', '메가박스할인', '소노 소노벨 청송', '청간정카라반', '웰리힐리스키시즌권', '파라다이스호텔', '대방학사1관', '한화 제주', '육군회관', '바이라한 경주', '어메이징파크', '호텔 금오산', '태릉 체력단련장', '베어스타운 리프트권', '대신로지스틱스', '보광휘닉스파크스키시즌권', '코오롱 마우나오션리조트', '씨에스호텔앤리조트', '국민트랜스', '서울해군회관', '소노 소노문 양평', '소양학사', '베어스타운리조트', '아바니센트럴호텔', '페어필드바이메리어트부산송도비치호텔', '진에어', '거제씨월드', '인제스피디움', '여행장병 안내소', '소노 소노문 단양', 'TMO', '한화 양평', '도봉학사', '국방컨벤션', '리솜 아일랜드', '리솜 스플라스', '코오롱 씨클라우드호텔', '롯데렌터카', '에어부산', '처인 체력단련장', '라마다호텔', '베스트웨스턴프리미어 서울가든호텔', '더프라자호텔 서울', '하이원리조트', '서귀포호텔', '대방학사2관', '통인익스프레스', '베어스타운', '켄싱턴 서귀포', '켄싱턴 경주', '용평리조트 리프트권', '금호 제주', '소노 소노캄 거제', '과천서울랜드', '풍림아이원호텔&리조트', '공군회관', '대천콘도2관', '청풍리조트', '소노문 양평', '제주다인오세아노호텔앤리조트', '보광휘닉스 제주', '라마다제주 시티호텔', '밀리토피아 골프연습장', '세인트포골프&리조트', '소노 소노문 델피노', '롯데호텔 울산', '바이라한 울산', '신라스테이서대문/마포호텔', '켄싱턴호텔 여의도/평창/설악 지점', '칠보학사', '롯데씨티호텔마포/구로/대전점', '용평리조트 발왕산 케이블카 왕복권', '그라벨제주호텔', '계룡스파텔', '소노 소노벨 변산', '롯데시네마', '아스티부산호텔', '로젠이사', '에버랜드 자유이용', '밀리토피아 호텔', '베어스타운스키시즌권', '소노캄제주', '아스타호텔 제주', '디오션리조트호텔', '진해해군회관', '소노문 델피노', '현대수 설악', '용평리조트 객실할인', '무주 덕유산', '켄싱턴 해운대', '제주항공', '남수원 체력단련장', '신세계', '빕스할인', '금호 설악', '롯데호텔', '해운대 그린나래호텔', '코리아나호텔', '송정콘도', '파라다이스 도고 스파', '소노벨 변산', '거제씨앤스카이 리조트', '소노 소노벨 천안', '포포츠버이쉐라톤강남호텔', '바이라한 목포', '티웨이항공', '한화 대천', '코엑스아쿠아리움', '한화 거제', '금호 화순', '바이라한 전주', '쏠비치 양양', '한화 해운대', '용평리조트 스키시즌권', '신라스테이해운대', '더 플래닛', '소노벨 천안', '켄싱턴 설악비치', '켄싱턴 하동', '치악학사', 'CGV', '소노 쏠비치 삼척', '제주해군호텔', '더 웨스틴 조선 호텔', '자운학사', '소노 소노캄 여수', '소노 소노벨 경주', '한화 평창', '제주렌트카', '무열학사', '글래드호텔 마포/여의도', '농심호텔', '리솜 레스트리', '송파학사', '바이라한포항', '켄싱턴 한림', '소노캄 여수', '라마다플라자호텔', '호텔더숨포레스트', '대구그랜드호텔', '롯데월드언더씨킹덤', '켄싱턴 설악 밸리', '소노벨 경주', '대천콘도1관', '켄싱턴 가평', '청간정콘도', '라발스호텔', '소노벨 청송', '네스트호텔', '코오롱호텔', '한화 여수 벨메르호텔', '해운학사', '여행장병안내소', '베어스타운리조트 스키장비 렌탈', '켄싱턴 지리산 남원', '용평리조트 피크아일랜드', '웰리힐리파크', '한화 경주', '무등학사'}

In [132]:
# 추출한 개체 저장
pd.DataFrame(facilities).to_csv(WORK_DIR+'/files/시설.csv', index=False)

## 질문 제작

In [133]:
q_welfare = []

In [150]:
w_welfare = {
    'LOCALE': locales,
    'FACILITIES': facilities,
    'A': ['근처', '주변', '부근', '근방', '쪽에',  '지역'],
    'B': ['있어?', '있긴해?', '있음?', '뭐가 있어?', '있을까?'],
    'C': ['시설', '복지시설', '놀만한 곳', '갈만한 곳', '할인되는 곳', '숙소', '잘데', '혜택', '복지정보'],
    'D': ['알려줘', '궁금해', '궁금함', '말해줘', '알고싶어']
}
t_welfare = [
    '{LOCALE}{A} {C} {B}',
    '{LOCALE}{A} {C} {D}',
    '{FACILITIES}에 대해 {D}',
    '{FACILITIES} 혜택정보 {D}'
]

In [151]:
len(facilities)

188

In [152]:
import re

# return chunk key list
# get template pattern string
def get_key_from_template(str):
  ret = re.findall(r'\{.*?\}', str)
  return list(map(lambda x:x.replace('{', '').replace('}', ''), ret))
  # return ret

def add_samples(permute):
    samples = []
    for chunks in permute:
      cur_q = template
      for i in range(len(chunks)):
        # print(key, chunks[i], cur_q)
        key = '{'+keylist[i]+'}'
        cur_q = cur_q.replace(key, chunks[i])

      samples.append(cur_q)

    return samples

In [153]:
from itertools import product
import random

samples = []
for template in t_welfare:
  keylist = get_key_from_template(template)

  if len(keylist)==2:
    # Get all possible cases
    permute = list(product(w_welfare[keylist[0]],w_welfare[keylist[1]]))

  elif len(keylist)==4:
    # Get all possible cases
    permute = list(product(w_welfare[keylist[0]],w_welfare[keylist[1]],w_welfare[keylist[2]],w_welfare[keylist[3]]))

    # Random sampling
    permute = random.sample(permute, 4000)

  samples += add_samples(permute)

In [154]:
df_welfare = pd.DataFrame(samples, columns=['question'])
df_welfare

                question
0          전국쪽에 복지정보 있어?
1        전주쪽에 갈만한 곳 있긴해?
2     제주도근처 갈만한 곳 뭐가 있어?
3            덕정근처 시설 있음?
4       광주송정지역 복지시설 있긴해?
...                  ...
9875       무등학사 혜택정보 알려줘
9876       무등학사 혜택정보 궁금해
9877       무등학사 혜택정보 궁금함
9878       무등학사 혜택정보 말해줘
9879      무등학사 혜택정보 알고싶어

[9880 rows x 1 columns]

In [157]:
df_welfare.to_csv(WORK_DIR+'files/train_welfare.csv', index=False)

## 2.주거
### 1) QnA Template
- 지역별 관사주택정보 질문
    - 특정지역 해당 주택목록 답변
    - 특정지역 해당 분양정보 목록 답변
- 특정주택 정보질문
    - 특정주택 일반정보 답변
- 군구분별 지역별 주택정보 질문
    - 군 구분별 해당 주택목록 답변
    
### 2) Named Entity
: 추출해야할 개체 종류 ==> 지역, 주택, 군구분

In [161]:
df_housing = get_dfs([
    "국방부_영외 군인아파트 현황_20201231.csv",
    "국방부_현역군인 내 집 마련 정보_20210816.csv"
])

[국방부_영외 군인아파트 현황_20201231] # of data : 1478 ======================================>

,건물형태,군구분,부대구분(관리부대),단지명,시도,시군구,읍면동,리,준공연도,공급세대,면적(15)50이하,면적(24)80이하,면적(30)100이하,면적(36)120이하,면적확인불가
0,연립,육군,지상작전사령부,선봉캐슬,경기도,용인시 처인구,역북동,NaN,2009,19,NaN,NaN,NaN,NaN,19
1,아파트,육군,지상작전사령부,온누리아파트,경기도,용인시 처인구,역북동,NaN,2013,480,NaN,120.0,240.0,120.0,NaN
2,아파트,육군,지상작전사령부,한누리아파트,경기도,용인시 처인구,김량장동,NaN,2009,258,NaN,NaN,112.0,124.0,22
3,아파트,육군,지상작전사령부,LG아파트,경기도,광주시,곤지암읍,곤지암리,1997,4,NaN,4.0,NaN,NaN,NaN
4,아파트,육군,지상작전사령부,동보아파트,경기도,광주시,탄벌동,NaN,1996,2,NaN,2.0,NaN,NaN,NaN

[국방부_현역군인 내 집 마련 정보_20210816] # of data : 768 ======================================>

,행번호,주택공급명,위치,공급규모,분양모집일자,배정내역,연락처
0,1,순천 복성지구 한신더휴,전남 순천시,10,2019-06-20,"67(1), 75(2), 84A(6), 84B(1)",1577-9800
1,2,세종 하늘채 센트레빌,세종 4-2생활권,2,2019-06-20,L3블록 59A (1) M5블록 84A2 (1),1577-9800
2,3,배산 신일 해피트리,전북 익산시,2,2019-06-26,84(2),1577-9800
3,4,고덕 하늘채 시그니처,경기 평택시,5,2019-06-27,"59A(2), 84(3)",1577-9800
4,5,빌리브 메트로뷰,대구 달서구,2,2019-06-27,"84A(1), 84B(1)",1577-9800

## 개체추출 : 지역

In [216]:
# 기존 locales에 위치/시군구 정보 추가
locales2 = []    
[locales2.extend(x.split(' ')) for x in list(df_housing[0]['시군구'])]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 ...]

In [217]:
locales2 = list(set(locales2))
locales2

['',
 '달서구',
 '강북구',
 '태안군',
 '안양시',
 '계양구',
 '마포구',
 '여주시',
 '남동구',
 '강진군',
 '화성시',
 '화순군',
 '처인구',
 '홍성군',
 '삼척시',
 '논산시',
 '고창군',
 '남구',
 '구리시',
 '천안시',
 '남양주시',
 '안성시',
 '가평군',
 '고성군',
 '해남군',
 '함평군',
 '광산구',
 '창녕군',
 '남원시',
 '광명시',
 '임실군',
 '속초시',
 '해운대구',
 '서천군',
 '진주시',
 '당진시',
 '김천시',
 '포항시',
 '평창군',
 '연천군',
 '밀양시',
 '창원시',
 '청주시',
 '양천구',
 '이천시',
 '구미시',
 '금산군',
 '진구',
 '청원구',
 '서구',
 '영광군',
 '달성군',
 '순창군',
 '서귀포시',
 '담양군',
 '순천시',
 '여수시',
 '성주군',
 '양평군',
 '강화군',
 '울진군',
 '금천구',
 '춘천시',
 '시흥시',
 '영등포구',
 '울릉군',
 '평택시',
 '하동군',
 '아산시',
 '오산시',
 '군위군',
 '울주군',
 '만안구',
 '봉화군',
 '서북구',
 '영덕군',
 '대덕구',
 '양구군',
 '중구',
 '북구',
 '은평구',
 '중원구',
 '중량구',
 '공주시',
 '고양시',
 '흥덕구',
 '분당구',
 '옹진군',
 '포천시',
 '문경시',
 '거제시',
 '목포시',
 '구례군',
 '청양군',
 '화천군',
 '동구',
 '영동군',
 '칠곡군',
 '정읍시',
 '양양군',
 '완도군',
 '서원구',
 '홍천군',
 '인제군',
 '세종시',
 '일산동구',
 '동래구',
 '청도군',
 '수영구',
 '상당구',
 '김해시',
 '마산회원구',
 '진도군',
 '진천군',
 '덕양구',
 '김포시',
 '고양시덕양구',
 '광주시',
 '광양시',
 '권선구',
 '고흥군',
 '계룡시',
 '음성군',
 '동두천시',
 '진해구',
 '보령시',
 '완주군',
 '하남시',
 '충주시',
 '함안군',
 '영암군',
 '용인시',
 '상주시',
 '송파구',
 '정선군',
 '부천시',
 '관악구',
 '부여군',
 '안동시',
 '안산시',
 '종로구',
 '부산진구',
 '원주시',
 '강릉시',
 '단양군',
 '의창구',
 '철원군',
 '예천군',
 '군포시',
 '수성구',
 '제천시',
 '무주군',
 '노원구',
 '증평군',
 '보은군',
 '양주시',
 '파주시',
 '장성군',
 '유성구',
 '영천시',
 '경산시',
 '과천시',
 '괴산군',
 '세종특별자치시',
 '사천시',
 '영월군',
 '사하구',
 '횡성군',
 '익산시',
 '서대문구',
 '경주시',
 '태백시',
 '전주시',
 '동해시',
 '성동구',
 '서초구',
 '부안군',
 '의성군',
 '수원시',
 '성북구',
 '군산시',
 '청송군',
 '옥천군',
 '서산시',
 '용산구',
 '통영시',
 '동작구',
 '성남시',
 '양산시',
 '영도구',
 '남해군',
 '나주시',
 '거창군',
 '의정부시',
 '강서구',
 '무안군',
 '수정구',
 '부평구',
 '제주시']

In [219]:
locales3 = list(set(locales + locales2))
print(locales3)

['전라남도', '', '달서구', '강북구', '태안군', '안양시', '계양구', '부평', '마포구', '여주시', '남동구', '용산', '강진군', '화성시', '화순군', '처인구', '홍성군', '삼척시', '전주', '논산시', '광명', '고창군', '수서', '충청북도', '서울', '남구', '구리시', '부산시', '천안시', '남양주시', '안성시', '진해', '가평군', '경북', '고성군', '해남군', '부산', '함평군', '창원', '광산구', '창녕군', '퇴계원', '남원시', '광명시', '임실군', '속초시', '해운대구', '경상남도', '서천군', '진주시', '당진시', '김천시', '포항시', '증평', '평창군', '연천군', '밀양시', '창원시', '청주시', '양천구', '이천시', '구미시', '금산군', '영동', '진구', '울산', '청원구', '서구', '영광군', '달성군', '순창군', '서귀포시', '광주광역시', '세종', '담양군', '순천시', '여수시', '성주군', '오근장', '논산', '양평군', '강화군', '청량리', '울진군', '금천구', '연무대', '춘천시', '신경주', '시흥시', '경기도', '영등포구', '울릉군', '창원중앙', '평택시', '하동군', '아산시', '오산시', '전라', '군위군', '울주군', '충청', '만안구', '봉화군', '서북구', '영덕군', '진주', '대덕구', '신탄진', '양구군', '중구', '북구', '은평구', '경기', '중원구', '중량구', '공주시', '고양시', '흥덕구', '홍성', '제주', '분당구', '옹진군', '포천시', '문경시', '거제시', '오송', '목포시', '구례군', '청양군', '충청남도', '화천군', '동구', '부강', '영동군', '칠곡군', '서울시', '충북', '동서울', '정읍시', '양양군', '완도군', '서원구', '대전시', '홍천군', '인제군', '세종시', '일산동구', '서대전', '동래구', '대전광역시', '청도군', '수영구', '광주', '상당구', '김해시', '동대구', '마산회원구', '진도군', '구포', '부산광역시', '진천군', '덕양구', '김포시', '고양시덕양구', '광주시', '광양시', '권선구', '전남', '경상', '고흥군', '계룡시', '음성군', '동두천시', '진해구', '영천', '평택', '보령시', '완주군', '하남시', '수원', '대구', '충주시', '함안군', '마산', '영암군', '용인시', '상주시', '송파구', '정선군', '부천시', '경상북도', '관악구', '부여군', '안동시', '천안아산', '안산시', '광주송정', '익산', '포항', '종로구', '서울,강원', '전북', '경산', '부산진구', '원주시', '충남', '강릉시', '단양군', '덕정', '지평', '의창구', '철원군', '예천군', '군포시', '수성구', '제천시', '무주군', '노원구', '증평군', '제주특별자치도', '강원', '보은군', '양주시', '파주시', '만종', '제주도', '장성군', '유성구', '김천구미', '대전', '영천시', '경산시', '과천시', '괴산군', '원주', '세종특별자치시', '인천', '사천시', '영월군', '제천', '사하구', '횡성군', '익산시', '서대문구', '경주시', '춘천', '경남', '대구시', '태백시', '전주시', '동해시', '성동구', '서초구', '부안군', '전국', '강릉', '강원도', '의성군', '수원시', '성북구', '군산시', '청송군', '옥천군', '서산시', '용산구', '통영시', '동작구', '성남시', '양산시', '서울특별시', '영도구', '장성', '남해군', '조치원', '나주시', '목포', '거창군', '의정부시', '계룡', '강서구', '무안군', '수정구', '부평구', '제주시']

In [220]:
# 추출한 개체 저장
pd.DataFrame(locales3).to_csv(WORK_DIR+'/files/지역.csv', index=False)

## 개체추출 : 주택

In [222]:
houses = list(df_housing[0]['건물형태'].unique())
houses += list(df_housing[0]['단지명'].unique())
houses += list(df_housing[1]['주택공급명'].unique())
print(houses)

['연립', '아파트', '아파트 ', '아파트/연립', '선봉캐슬', '온누리아파트', '한누리아파트', 'LG아파트', '동보아파트', '밀목아파트', '반도유보라아이비파크', '호반베르디움 1차', '연립관사', '금광포란재아파트', '남청아파트', '대동아파트', '둥지아파트', '미소빌아파트', '배말타운아파트', '삼정백조아파트', '서초아파트', '이안아파트', '강릉 입암현대아파트', '진로아파트', '태봉빌라', '통일아파트', '팔마아파트', '횡계 알펜로제아파트', '흥화브라운빌아파트', '금호어울림아파트', '입암현대아파트', '양우내안애아파트', '용문그린타운', '원석비바체아파트', '퇴계원 군 숙소', '본부 푸르지오 아파트', '오래오빌 101동', '오래오빌 102동', '피렌체 아파트', '매입아파트(효양)', '매입아파트(진우)', '만촌보성타워', '삼승슈퍼타워', 'SM안아주아파트', '신암SD아이프라임', '수성풀비체', '범물보성타운', '동서무학맨션', '시지대백', '지산협화맨션', '지산동서맨션', '지산청구타운', '범물청아타운', '범물삼주타운', '지산에덴타운', '지산현대맨션', '수성누리빌데시앙(BTL)', '우방힐타운', '장유 파크뷰', '무학마을 데시앙', '삼일아파트6동', '버들아파트', '신동아아파트', '신창부영아파트', 'EG스위트벨리', '송지트리뷰아파트', '영무예다음아파트', '현대아파트', '연립관사(1~4호)', '금호아파트', 'C&S후레쉬빌', '백두아파트', '관사(금일읍대)', '관사(노화읍대)', '관사(청산면대)', '동아아파트', '명지아파트', '우진아트빌', '연립관사 1동', '영신아파트', '청송 드림빌', '한마음 아파트', '중흥아파트', '대주아파트', '석현주공아파트', '부영아파트', '남산비치 아파트', '라온유 아파트', '장미아파트', '행정아파트', '상아아파트', '글로리아파트', '삼신아파트', '세왕아파트', '신안인스빌', '아이엠로즈빌', '금강레인보우아파트', '금호대우아파트', '용두주공아파트', '화순금호아파트', '공간그린 아파트', '공주한빛아파트', '공주대아곰나루아파트', '구봉마을아파트', '다원 파크리안 아파트', '명천주공아파트', '백룡아파트', '보령현대아파트', '부경파크빌아파트', '부여백자아파트', '삼호아파트', '서천그린빌라', '선비마을아파트', '신동아 아파트', '신동아 아파트(세종)', '쌍용주공아파트(10단지)', '쌍용주공아파트(9단지)', '아산주공아파트', '아산주은아파트', '열매아파트', '우리마을 아파트', '욱일아파트', '음암아파트', '천강아파트', '청구 제네스 아파트', '청주현대아파트', '초롱아파트', '충룡아파트 A동', '태안 진흥아파트', '평화아파트', '포스코아파트', '풍산아파트', '하늘채아파트', '한마음아파트', '현광아파트', '한신아파트', '한우물아파트', '(무주)관사', '영창아파트(정읍)', '제일아파트(정읍)', '수성3단지주공아파트(정읍)', '양우아파트(부안)', '아르미안아파트(고창)', '송천주공아파트(전주)', '군산 나운주공아파트', '군산 현대파인빌', '익산 아름드리아파트', '익산 어양주공아파트', '전주 송천주공아파트', '군산 삼성아파트', '전주 동신아파트', '전주 동국아파트', '충경마을 아파트', '충경마을아파트2단지', '금천경희아파트', '내수삼일아파트', '늘푸른 (201동, 203동)', '벽산블루밍아파트', '복대주은아파트', '분평대원아파트', '분평주공아파트', '음성삼보아파트', '율량성원아파트', '신라송림아파트', '진천 신양빌라', '탑동현대아파트', '증평삼일아파트', '용암덕일아파트', '늘푸른 (101동, 102동, 103동, 104동, 105동, 106동, 107동, 108동)', '동경타운빌', '진달래아파트', '다산금빛아파트', '강변리츠빌아파트', '삼부아파트', '조한드림아파트', '주은옥향아파트', '향수마을아파트', '홍인빌라', '프리미엄뷰아파트', '두진백로아파트', '로즈웰아파트', '미소지움아파트', '새한아파트', '스타힐스아파트', '에이스타운', '일동', '주공아파트', '충주지웰아파트', '진도아파트', '코오롱아파트', '한라비발디아파트', '호수마을아파트', '연립관사 6호', '밀양 목화타워맨션', '김해 거송월드', '광남백조 아파트', '구산 3주공 아파트', '구산 5주공 아파트', '삼계 주공 아파트', '숲속 주공 아파트', '통영 동남맨션아파트', '통영 진보소라아파트', '통영 한선파라타운 아파트', '다솜아파트', '거제 신우마리나 아파트', '문산 한양하이빌아파트', '사천 신성아파트', '사천 동강아파트', '사천 토산아델리움', '거창 하나로아파트', '하동 홍인아키빌', '남해 보물섬 연립관사', '데시앙아파트 1단지', '창원 무지개아파트', '무학아파트', '창원 원창호수아파트', '두산아파트', '동화타운', '우방왕산타운(지묘)', '논공주공아파트', '낙양경희아파트', '매봉마을아파트', 'M타운(송림맨션)', '성주우방아파트', '백옥한보아파트', '광림아파트', '근남관사', '신세계아파트', '진우파크빌', '토일관사', '망정주공아파트', '완산청구하이츠', '경주연립관사', '삼주봉황아파트', '삼북주공아파트', '경산보국웰리치', '장사남정연립관사', '삼도드림파크', '삼양금탑맨션', '청도아트빌', '계림플러스아파트', '삼성아파트', '석미아파트', '세아아파트', '용상5주공아파트', '의성청구아파트', '현진에버빌', '화성드림파크', '연립관사(가동)', '연립관사(나동)', '개금주공아파트(매입)', '경동메르빌아파트(매입)', '무지개빌라', '무지개아파트', '문현광원아파트(매입)', '안락아파트', '일동미라주아파트(매입)', '장산마을아파트', '개금관사', '태종대아파트', '가화파티오아파트', '복지아파트', '옥현주공아파트', '장보그린빌라', '오성마을', '오성연립빌라', '신원마을아파트', '데코빌', '비호아파트', '쉐르빌', '한빛BTL', '신동아파밀리에', '양지마을', '양지푸르지오', '고양삼마아파트', '벽제삼마아파트', '일산에버나인아파트(1001동)', '해오름아파트', '푸른마을아파트', '미리내아파트', '금촌 장미아파트', '연풍 어울림(101동)', '송촌토파즈', '금촌장미', '팜스프링아파트(111동)', '금촌에버나인', '동문아파트', '동신라메르아파트', '마루아파트', '성원아파트', '은하수아파트', '팜스프링아파트', '한빛아파트', '송촌토파즈아파트', '행복드림아파트', '행복마루아파트(나동)', '문산장안아파트', '율곡아파트', '문산아파트 JSA동', '문산어울림', '선유전진타운', '주내기용아파트', '행복마을', '장미동화아파트', '덕정96 아파트(나동)', '덕정주공아파트', '미소마을', '비룡아파트 106동', '누리채 아파트 104동', '물빛누리 아파트 다동', '물빛누리 아파트 라동', '사창리 데시앙 아파트', '사창리 에버그린 아파트', '한아름 아파트 5동', '한아름 아파트 6동', '한아름 아파트 7동', '화일빌 아파트 C동', '화인빌 아파트 D동', '누리채 아파트 101동', '누리채 아파트 102동', '누리채 아파트 103동', '대양고운채', '데시앙 아파트', '솔바람 1동', '솔바람 2동, 3동', '솔바람 4동, 5동, 6동, 7동', '화남빌라', '신아아파트', '아름드리 1단지', '아름드리 2단지', '푸르미 C동', '충성아파트 5동~6동', '청솔아파트', '사창리데시앙 아파트', '늘푸른5동', '늘푸른 8동', '늘푸른10~12동', '늘푸른6~7동', '늘푸른 9동', '에버그린아파트', '두미르 2차 아파트', '두미르 1차 아파트', '소양아파트', '롯데캐슬아파트', '신동아파트', '율문아파트', '소양 201동 연립관사', '기린대아파트 6동', '기린대아파트 7동', '기린대아파트 8동', '기린대아파트 9동', '기린대아파트 11동', '기린대아파트 12동', '기린대아파트 13동', '기린대아파트 15동', '기린대아파트 16동', '기린대아파트 19동', '기린대아파트 20동', '내린천아파트', '인제아르미소', '합강아파트', '서호아파트 A동', '서호아파트 B동', '서호아파트 C동', '서호아파트 D동', '용대아파트', '백동아파트 1동', '백동아파트 2동', '백동아파트 3동', '백동아파트 4동', '백동그린빌', '천도아파트 C동', '천도아파트 D동', '신천도아파트 가동', '신천도아파트 나동', '신천도아파트 다동', '서화아파트 A동', '서화아파트 B동', '혜진아파트', '리버빌아파트', '원통아르미소아파트', '경림아파트 101동', '경림아파트 201동', '고방산아파트 A동', '고방산아파트 B동', '대암아파트 E동', '대암아파트 F동', '백두산 아파트 A동', '백두산 아파트 B동', '백두산 아파트 D동', '백호아파트 102동', '보배아파트', '성공대아파트 A동,B동', '정림아파트 102동', '정림아파트 103동', '하리아파트(가동,나동)', '신남아파트 3동', '신남아파트 9동', '골든빌아파트', '대삼아파트', '융창빌라', '푸르미소아파트', '해링턴플레이스 BTL', '포미재아파트', '진격아파트 3동 관사', '화양빌라 관사', '꿈에그린 푸르미마을', '청학 주공아파트', '군 건립 6동', '군 건립 8동', '산내들 I-PARK 아파트', '산내들 아파트', '금강아미움', '김화BTL관사', '신철원ESA아파트', '삼성스위첼', '삼성아파트 1동', '삼성아파트 3동', '삼성아파트 6동', '삼성아파트 7동', '삼성아파트 8동', '삼성아파트(9동)', '쉬리마을', '신원아파트', '청양아파트 1동', '청양아파트 2동', '청양아파트 3동', '유명한들 아파트', '혜산진아파트', '경남아너스빌', '금강아파트', '산호아파트', '유명아파트102동', '청성아파트 11동', '청성아파트 8동', '청성아파트 9동', '청성아파트 10동', '중앙아파트', '명품ESA아파트', '기산베스트빌', '동송산호 아파트', '명품ESA 아파트', '목련아파트 2동', '목련아파트 3동', '목련아파트 5동', '포천 산호 아파트', '전곡 석미 모닝아파트', '승포아트빌', '금강 아미움', '리버 아파트', '새동네 아파트', '이동아이파크', '에이트빌', '오뚜기 아파트', '오뚜기빌', '윤중후레쉬빌', '이동승진아파트 3동', '일동승진아파트', '일신아파트', '07. 가온누리 24평', '20. 금강아미움 24평, 21. 금강아미움 34평', '18. 석미한아름 아파트 24평', '19. 석미모닝파크 아파트 28평', '01. 연천 I-PARK 24평, 02. 연천 I-PARK 28평', '16. 조흥아파트 25평', '17. 태창그린빌리지 22평', '04. 푸르미아르미소 25평, 31평, 40평', '02-1B. 하이파이브 아파트 (가동)', '02-1B. 하이파이브 아파트 (나동)', '한아름 아파트(12동 24평, 13동 24평, 14동 24평)', '4호 관사(봉암리)', '베스트 그린 28 2단지', '동두천 동남 아파트', '동두천 현성 아파트', '양주 덕정 주공아파트', '베스트 그린 28 쌍용아파트', '베스트 그린 28 태풍아파트', '전곡 석미 아파트', '덕정주공5단지', '푸른마을아파트101동', '푸른마을아파트102동', '관사', '동화아파트', '성우헤스티아', '세아청솔', '송우주공아파트', '푸르미 아르미소', '동원베네스트 상승빌리지', '송전아파트', '도하빌리지', '동남아파트', '포천 한우리아파트', '백석 해와달 아파트', '삼숭동 GS자이', '지행주공아파트', '천보아파트 3동', '덕계 범양마더빌 매입아파트', '포천산호아파트', '덕정주공 매입아파트', '독수리아파트', '드림 아인스빌', '스무빌아파트', '충정아파트', '조은아파트', '화랑마을아파트', '화랑아파트(7동)', '화랑아파트(8동)', '낙원아파트', '모아빌아파트101동(舊 화랑아파트)', '비바체아파트', '맹호 A동, B동', '맹호 C동', '기산아파트', '꿈에그린아파트', '리버아파트', '맹호아파트 101동~108동', '대원네스트빌', '두진하트리움', '세종빌 아파트', '신흥주공아파트', '한강아파트', '7A빌리지', '고성 대명아파트(24평)', '고성 삼익아파트(24평, 29평)', '고성 군인아파트 6동 (15평)', '고성 군인아파트 7,8동 (15평)', '고성 오호리 군인아파트(19평형, 21평형)', '고성 율곡타운(24평형, 28평형)', '속초 늘푸른 아파트(24평, 32평)', '속초 성호 아파트(25평형)', '속초 옥토 아파트(24평형)', '속초 해오름 아파트 5동(15평)', '속초 현대3차 아파트(32평형)', '속초 대명3차 아파트(25평형)', '속초 대명5차 아파트(26평형)', '속초 청초대우아파트(23평형)', '속초 명지 미래힐 아파트(33평형)', '속초 동부아파트(32평형)', '속초 부영 아파트(31평형)', '속초 삼환 아파트(22평형)', '양양 로얄 아파트(30평형, 33평형)', '양양 샹스빌 아파트(36평형)', '양양 푸르미 아파트(23평형, 34평형)', '양양 해오름 아파트(2동,3동)', '양양 해오름 아파트 8동 (28평형)', '양양 해오름 아파트 7동(19평형, 21평형)', '양양 심미 아파트(25평형)', '강릉 한라3차 아파트(24평형, 28평형)', '강릉 기산 아파트(23평)', '강릉 내곡한라 아파트(24평)', '강릉 양우내안애(23평형,25평형,33평형)', '강릉 노암주공 아파트(16평)', '강릉 신도브레뉴 아파트(23평형, 32평형)', '강릉 이화 아파트(19평형)', '강릉 입암현대 아파트(23평형, 32평형)', '강릉 포남일송 아파트(24평형)', '강릉 힐스테이트 아파트(33평형)', '동해 대동아파트(28평형, 32평형)', '동해 대동 현대아파트(20평형)', '삼척 강부3차아파트(26평형)', '삼척 동부아파트(23평형)', '삼척 신동아아파트(22평형)', '원당현대아파트', '삼척 코아루아파트(25평형)', '군포당동아파트', '데코빌아파트 ', '동운디오빌', '브라운스톤 하나마을', '안양행복마을', '위례스타힐스', '아미빌아파트', '양곡휴먼시아', '만수주공아파트', '홍익아파트', '수리마을', '구운삼환 아파트', '오산운암아파트', '평택진우자란아파트', '향남신명스카이뷔', '칠보아파트 3동', '평택삼익사이버아파트', '배곧 골드클래스', '시화영남5단지아파트', '안산엘리지움2차 주상복합', '옥구마을계룡2차 아파트', '인천서창LH6단지 아파트', '호반베르디움더프라임(2차)', '태평아파트', '평택브라운스톤험프리스', '밤개울아파트', '자이2차아파트(4단지 및 5단지)', '제일풍경채아파트', '하우스D아파트', '삼마아파트', '삼마아파트 관사(106동)', '삼마아파트 관사(107동)', '백승아파트', '학운아파트', '검단아파트', '미추홀아파트', '삼산광명아파트', '프리쌍뜨아파트', '산곡한신휴아파트', '우림필유아파트', '삼부한신아파트', '삼익플라주아파트', '서창아파트', '해태아파트', '청구한라아파트', '신안실크밸리아파트', '싱그리아아파트', '강화현대아파트', '마전하나아파트', '주안한신휴아파트', '주공스카이빌아파트', '충의관사', '하늘마을', '다청림카운티 관사 104동', '다청림카운티 관사 105동', '다청림카운티 관사 109동', '성남아파트 나동', '성남아파트 다동', '옥인아파트 가동', '옥인아파트 나동', '옥인아파트 다동', '블루힐아파트', '한울아파트 1동', '한울아파트 2동', '한울아파트 3동', '한울아파트 4동', '한울아파트 5동', '한울아파트 6동', '한울아파트 7동', '한울아파트 8동', '한울아파트 9동', '한울아파트 10동', '한울아파트 11동', '한울아파트 12동', '솔개연립 가동', '후암아파트 가동', '후암아파트 나동', '후암아파트 다동', '후암아파트 라동', '오정 휴먼시아', '소사 뜨란채 주공아파트 ', '신곡아파트', '금호관사', '예중 파크뷰 아파트', '현저 관사', '신안 실크밸리', '희망누리관사(김포)', '이태원 대림 아파트', '대방동 대림 아파트', '독립문삼호아파트', '무궁화아파트', '무지개아파트 107동', '무지개아파트 108동', '창박아파트', '백운아파트 (1동)', '백운아파트 (2동)', '백운아파트 (3동)', '백운아파트 (5동)', '백운아파트 (6동)', '백운아파트 (7동)', '백운아파트 (8동)', '청운아파트(2동)', '개나리아파트 (1동)', '개나리아파트 (2동)', '개나리아파트 (5동)', '개나리아파트 (6동)', '덕정아파트(512동)', '덕정아파트(518동)', '삼일아파트', '래인보우APT', '탐라빌', '매화아파트', '배산 제일2차 아파트', '백마빌리지(BTL)', '부송 아름드리 아파트', '용두주공APT', 'BTL 신동아아파트', '전진아파트', '제일아파트', '천마BTL 아파트', '용인피렌체 아파트(매입)', '국평단 BTL 부평관사 하우스디아파트', 'BTL 부평관사 하우스디아파트', '국평단 관사 흑룡아파트', '흑표리슈빌아파트', '아름수리아파트', '두매아파트 1동', '백마대 아파트 201동', '에어팰리스 (하남)', '동양아파트', '비승 110동', '비승아파트', '유승아파트', '현대6차아파트', '백조아파트', '현대 7차아파트', '하남 연립관사', '논산 월야아파트', '용인 피렌체아파트', '태전 효성해링턴 플레이스', '영월 코아루 웰라움 아파트', '마룡리 B동 아파트  ', '영진리버빌(1200)', '해오름(1200)', '부영 아파트(1200)', '창우마을 아파트(1200)', '한빛맨션(1400)', 'J클래식 아파트(1400)', '한라비발디(1400)', '흥화브라운빌 아파트(1400)', '신원아침도시더퍼스트', '대소산수화', '명운네스트빌', '무극아파트', '원주 성호 샤인힐즈', '순창 미르채 아파트', '순창 온리뷰 아파트', '안성 그대가 아파트(1300)', '안성 한일타운아파트(1300)', '청구아파트(1300)', '창녕그린시티 아파트(1500)', '해모로 루비채(1500)', '해모로 루비채(1700-1)', '휴먼시아 아파트(1500)', '엠코 더 프라하(1700-1)', '담양 일신프레뷰', '담양 별해리아파트', '광주 우방아이유쉘', '칠성관사', '복정아파트', '안락뜨란채 1단지', '미래로아파트', '산곡동 청산 군인 아파트', '칠성그린 아파트', '칠성그린 연립아파트', '신항만 경남 아너스빌', '풍림아파트', '무궁화아파트102동', '망정주공아파트(매입)', '해피포유아파트(매입)', '경산 보국웰리치아파트(매입)', '101동 연립관사', '성환부영3차아파트', '쌍용주공9단지아파트', '고암두진백로아파트', '일동아파트', '두레마을 아파트', '연수주공 4단지 아파트', '충성아파트', '성산아파트', '양강마을', '금강매화', '봉암서광', '한일타운', '운주산아파트 나동', 'BTL푸른마을 아파트', '아름드리 아파트', '주공 5차 아파트', '월야아파트', '네스트빌아파트', '청정아파트', '파크리안아파트', '남성대힐스테이트', '한청아파트', '두산신성', '놀뫼아파트', '대림아파트', '동산아파트', '안심아파트', '조흥로즈빌', '한청리츠빌', '두산신성아파트', '일반관사 1~4호', '늘푸른아파트', '춘천민영아파트', 'B관사', '대명늘푸른아파트 102동', '대명늘푸른아파트 104동', '구봉마을 5단지', '문무아파트 1단지', '문무아파트 2단지', '상무아파트', '응봉아파트 101, 102, 103, 104, 105동', '응봉아파트 201, 202동', '월드컵 아파트 6동', 'ROKA미르CITY', '청운 빌라', '청운1차아파트 나동', '청운2차아파트', '충일 102동', '충일 103동', '충일 105동', '충일 106동', '장현주공', '삼익파크힐스', '창현주공', '철마아파트1동', '철마아파트2동', '크낙새아파트1동', '크낙새아파트2동', '장현주공APT', '내촌아파트', '극동그린아파트', '노량진우성아파트', '진광무지개아파트', '삼주강변타운', '육사 BTL아파트', '육사아파트(110동)', '육사아파트(111동)', '해피포유 101~102', '덕산', '바다마을', '블루빌', '시인의 마을', '여좌동', '오션빌', '원창베스트빌', '인사동', '중앙네이빌', '신흥동 아파트', '평화빌라트', '광안아라빌', '국제아파트', '낙민아라빌', '롯데캐슬아인스', '삼창그린타운아파트', '오륙도뜨란채', '일신님2차아파트', '대동현대아파트', '대우푸르지오', '대창빌라트', '사랑 Dream', '쌍용아파트', '한움빌리지', '행복 Dream', '설악아파트', '거진뉴빌리지', '산호B동', '상록아파트', '매화 1동', '매화 3동', '죽변 관사', '락토맨션', '안중우림아파트', '플러스빌', '해군연립관사', '해군원정116동', '해군원정117동', '해군원정아파트', '라이프맨션', '한양아파트', '영암 바다마을', '근화베아체', '뉴서울선샤인', '대송에이스빌', '신안꿈동산아파트', '신안인스빌아파트', '옥암코아루아파트', '우미블루빌', '우미오션빌', '초원2차아파트', '해남연립관사', '현대아이파크', '상촌아파트', '해군아파트', '문덕 17동', '문덕 19동', '문덕 21동', '청림 20동', '청림 21동', '청림 BTL', '준양참마을', '청호하이츠', '취암모닝빌', '코아루아파트', '루체클래식', '민우아파트', '엘로이빌2차', '온주빌리지', '이도빌리지', '지산오차드힐', '휴마루아파트', '캐슬휘닉스3차', '마마스빌', '라인스위트', '아이뜨락', '제주바다빌', '공덕동 삼성아파트', '독산동 아파트', '바다마을 아파트', '보광동 신동아아파트', '청화아파트', '위례 스타힐스', '과천주공아파트', '집현 현대아파트 102동', '집현 현대아파트 103동', '집현 현대아파트 105동', '집현 현대아파트 107동', '스카이빌 1동', '스카이빌 2동', '스카이빌 3동', '수성누리빌', '청구맨션', '동호영조', '용계보라', '신서 그린빌', '안아주', '아덴힐즈', '태앙 아너스', '명천코아루', '성지리벨루스', '영화블렌하임', '산호오크힐', 'sk뷰', '대율관사', '관사아파트', '대정관사', '연화아파트 나동', '공군아파트', '번영빌라', '연립주택', '알펜로제아파트', '힐탑아파트', '창공아파트 다동', '창공아파트 라동', '부자마을아파트', '우정에쉐르아파트', '벽산아파트', '천부푸르매', '간성대명아파트', '뉴빌리지', '거진관사', '공군관사 가동', '공군관사 나동', '성우아파트', '이강리 보라매 관사', '대림샹제리 C동', '승화래미향 2동', '온세계아파트', '파크리네르', 'HK명가', '대방빌리지', '토성아파트(10동)', '토성아파트(11동)', '토성아파트(13동~15동)', '아름드리', '동원1차', '동원4차', '한일2차', '안락뜨란채1단지아파트', '대원칸타빌', '횡성이안 아파트(101동~105동)', '삼정백조 아파트(101동~102동)', '태백 중앙하이츠', '상동 관사', '권선관사 101동', '권선관사 102동', '권선관사 103동', '권선관사 104동', '권선관사 106동', '권선관사 110동', '권선관사 111동', '권선관사 112동', '권선관사 113동', '권선관사 114동', '권선관사 115동', '권선관사 116동', '권선관사 117동', '권선관사 118동', '세류관사 110동', '세류관사 111동', '하늘나래아파트 101동', '하늘나래아파트 102동', '하늘나래아파트 103동', '하늘나래아파트 104동', '하늘나래아파트 105동', '하늘나래아파트 106동', '하늘나래아파트 107동', '하늘나래아파트 108동', '하늘나래아파트 109동', '부민 스위트필', '팔공 보성 3차', '팔공 팔레스', '경남 안아주', '금사리 하이빌', '태왕 아너스', '공군아파트 31동', '공군아파트 35동', '공군아파트 36동', '공군아파트 301동', '공군아파트 302동', '공군아파트 303동', '공군아파트 304동', '공군아파트 305동', '공군아파트 306동', '공군아파트 307동', '공군아파트 308동', '분당 스카이빌 101동', '분당 스카이빌 102동', '위례스타힐스 2509동', '위례스타힐스 2515동', '위례스타힐스 2516동', '위례스타힐스 2511동', '충효마을 BTL(101동)', '충효마을 BTL(102동)', '충효마을 BTL(103동)', '충효마을 BTL(104동)', '충효마을 BTL(105동)', '충효마을 BTL(106동)', '충효마을 BTL(107동)', '충효마을 BTL(108동)', '충효마을 BTL(109동)', '문경 매봉아파트', '예천 쌍용아파트', '예천 명성아파트', '대원아파트 901 ~ 907', '세원테마빌 201 ~ 204동', '한라비발디 101동101호', '한라비발디 101동102호', '한라비발디 104동103호', '한라비발디 104동104호', '한라비발디 105동103호', '한라비발디 108동101호', '한라비발디 108동103호', '한라비발디 108동104호', '한라비발디 111동103호', '한라비발디 111동104호', '서서울아파트', '경남모직 안아주', '달성아파트 가동', '달성아파트 나동', '달성아파트 다동', '달성아파트 라동', '달성아파트 마동', '달성아파트 바동', '달성아파트 사동', '경성 홈타운', '한빛관사', '성서주공 8단지', '대동다숲', '창석빌라', '대동황토방', '국신빌라', '남양그린빌', '비인관사', '오르빌아파트', '모아 미래도', '한화 꿈에그린', '해망산관사', '한미래 101동', 'SR친오애아파트', '대상아파트', '삼성쉐르빌아파트', '한일타운아파트', 'YM프라젠', '금호어울림', '신도브레뉴', '매봉아파트', '호수마을', '대룡아파트', '초록지붕', '관사 A동', '관사 B동', '명품ESA104_405', '명품ESA104_307', '명품ESA104_305', '명품ESA104_204', '명품ESA104_203', '하늘마을(관사다동)', '하늘마을(관사가동)', '파주빌리지 3동 502호', '파주빌리지 3동 501호', '파주빌리지 2동 502호', '파주빌리지 1동 501호', '파주빌리지 1동 401호', '파주빌리지 1동 201호', '원창맨션4층401호', '원창맨션3층302호', '원창맨션2층202호', '원창맨션2층201호', '연성쉐르빌(610호)', '연성쉐르빌(511호)', '연성쉐르빌(510호)', '연성쉐르빌(509호)', '연성쉐르빌(508호)', '에버맨션B동402호', '에버맨션B동401호', '에버맨션B동202호', '에버맨션B동201호', '에버맨션B동102호', '에버맨션B동101호', '에버맨션A동402호', '에버맨션A동302호', '에버맨션A동301호', '에버맨션A동202호', '에버맨션A동102호', '에버맨션A동101호', '아침의빛109동701호', '아침의빛106동-904호', '아침의빛106동704호', '아침의빛106동601호', '아침의빛106동503호', '아침의빛106동403호', '아침의빛106동402호', '아침의빛105동406호', '아침의빛105동302호', '아침의빛105동301호', '아침의빛105동104호', '아침의빛105동103호', '아침의빛104동301호', '스카이빌', '보광그랑베르', '럭키빌라 2동 401호', '럭키빌라 2동 302호', '럭키빌라 2동 101호', '럭키빌라 1동 301호', '럭키빌라 1동 101호', '군숙소(아파트) 성우헤스티아ⓐ 108동 203호', '군숙소(아파트) 성우헤스티아ⓐ 108동 202호', '군숙소(아파트) 성우헤스티아ⓐ 106동 302호', '군숙소(아파트) 성우헤스티아ⓐ 106동 202호', '군숙소(아파트) 성우헤스티아ⓐ 106동 201호', '군숙소(아파트) 성우헤스티아ⓐ 103동 302호', '군숙소(아파트) 성우헤스티아ⓐ 103동 202호', '군숙소(아파트) 성우헤스티아ⓐ 103동 201호', '군숙소(아파트) 성우헤스티아ⓐ 102동 204호', '군숙소(아파트) 성우헤스티아ⓐ 102동 202호', '군숙소(아파트) 성우헤스티아ⓐ 102동 201호', '군숙소(아파트) 성우헤스티아ⓐ 101동 308호', '군숙소(아파트) 성우헤스티아ⓐ 101동 208호', '군숙소(아파트) 성우헤스티아ⓐ 101동 207호', '과천주공', '현대빌라트', '철매아파트 103동', '철매아파트 102동', '철매아파트 101동', '하늘마을 나동', '하늘마을 가동', '덕우아트빌 B동', '덕우아트빌 A동', '광명아파트102-1004', '광명아파트101-2005', '광명아파트 102-303', '경남아파트102-704', '경남아파트102-401', '경남아파트101-903', '경남아파트101-806', '경남아파트101-703', '경남아파트101-602', '경남아파트101-403', '경남아파트101-203', '경남아파트101-1305', '경남아파트101-1204', '경남아파트101-1001', '경남아파트 103-1205', '경남아파트 101-206', '경남 아파트102-101', '하늘마루 101동', '하늘마루 102동', '하늘마루 103동', '태성대아파트 101동', '태성대아파트 102동', '태성대아파트 103동', '태성대아파트 104동', '태성대아파트 105동', '우주마루 201동', '민영 미주3차A 104동', '민영 미주3차A 106동', '민영 삼익사이버A  101동', '민영 삼익사이버A  102동', '민영 삼익사이버A  105동', '민영 삼익사이버A  107동', '민영 삼익사이버A  108동', '영외 보라매A  201동', '영외 보라매A  202동', '공군금성아파트 관사 3동', '공군금성아파트 관사 6동', '공군금성아파트 관사 7동', '현대파인빌', '주공5차', '구정마린빌(BTL)', '그랑드빌', '길훈아파트', '대림힐타운', '동남아파트(금곡동)', '동남아파트(마전동)', '문덕마린빌(BTL)', '문덕마을 1동', '문덕마을 2동', '미래지향아파트', '봉담그대가', '비룡아파트', '삼도3차한솔타운', '삼도쉐르빌', '서룡아파트', '선진아파트', '신명아파트', '아산프라자', '연평 아파트(5,6,7동)', '영진아파트', '용덕마을(15동)', '용덕마을(17, 18, 20동)', '청구 1차 아파트', '청구 2차 아파트', '청림마을 5동', '충민 아파트(3,5동)', '하나아파트', '마린빌 1차', '태흥누리안빌', '다울빌리지', '미다움', '해병대아파트(1,5,6,7동)', '달님마을 3동', '달님마을 4동', '달님마을 5동', '달님마을 6동', '달님마을 7동', '햇님마을 1동', '햇님마을 2동', '햇님마을 3동', '별님마을 1동', '계룡대아파트 20평형(201 ~ 214동)', '계룡대아파트 22평형(142 ~ 146, 215 ~ 219동)', '계룡대해미르아파트', '구봉마을7단지아파트', '대동황토방아파트', '계룡포스코아파트', '엄사동아아파트', '품안마을아파트', '2단지아파트', '구봉마을5단지아파트', '연립관사A동', '연립관사B동', '구봉마을8단지아파트', '1단지아파트', '3단지아파트', '5단지아파트', '6단지아파트', '7단지아파트', '8단지아파트', '9단지아파트', '대자연아파트', '용산푸르지오파크타운', '신길동푸른숲마을', '사당동아파트', '아파트', '국방대학교 연립관사', '코오롱APT', '주공5차APT', '서귀포대오APT', '위례스타힐스아파트(2509동)', '위례스타힐스아파트(2503동)', '동작삼성래미안아파트', '우정아파트 가동', '우정아파트 나동', '오륙도아파트', '남문 시티프라디움1차 ', 'E-편한세상 상무 101동', 'E-편한세상 상무 102동', '두루말 어울림아파트 101동', '두루말 어울림아파트 102동', '두루말 어울림아파트 103동', '두루말 어울림아파트 104동', '두루말 어울림아파트 105동', '두루말 어울림아파트 106동', '두루말 어울림아파트 107동', '두루말 어울림아파트 108동', '두루말 어울림아파트 109동', '두루말 어울림아파트 110동', '두루말 어울림아파트 111동', '두루말 어울림아파트 112동', '동익아파트', '한라3차 아파트 ', '국군대구병원 아파트', '국군양주병원 아파트(봉우마을)', '국군양주병원 아파트(청담마을)', '국군함평병원 아파트', '대광로제비앙', '대덕아파트', '롯데캐슬', '서경아파트', '서울지구병원 아파트', '메디힐아파트', '신아아파트(2차)', '율동아파트', '푸르지오', '무지개아파트 101동 ', '무지개아파트 102동 ', '무지개아파트 103동 ', '무지개아파트 104동 ', '무지개아파트 105동 ', '불암아파트 3동', '소라아파트', '럭키타운아파트', '럭키빌리지', '대명드림빌', '럭키맨션', '울릉기지 연립관사', '목련아파트', '제주기지 연립관사', '평택부대 연립관사(10호)', '평택부대 연립관사(2호)', '화악산부대 연립관사(4호)', '안양행복마을아파트', '서빙고대원아파트', '사당롯데캐슬아파트', '이촌강촌아파트', '이촌동아그린아파트', '문정올림픽훼밀리아파트', '무악현대아파트', '풍경마을래미안 한강 2차아파트', '한강신도시롯데캐슬아파트', '영종주공스카이빌 10단지 아파트', '영종주공스카이빌 12단지 아파트', '석수 서조마을아파트', '신림 로마아파트', '면목동 마젤란21아파트 101동', '면목동 마젤란21아파트 102동', '대방아파트', '대방 아트빌라', '경남 아너스빌', '영종 주공아파트 1001동', '영종 주공아파트 1002동', '용인 임원마을 104동', '제주 용담 월드', '제주 아산프라자', '백산주택', '성호아파트', '서광아파트', '시인의마을', '진흥 W-park 아파트 102동', '진흥 W-park 아파트 103동', '진흥 W-park 아파트 104동', '진흥 W-park 아파트 105동', '삼광빌라 101동', '그린팰리스', '안락뜨란채1단지 아파트 101동', '안락뜨란채1단지 아파트 104동', '강변뜨란채 아파트 108동', '순천 복성지구 한신더휴', '세종 하늘채 센트레빌', '배산 신일 해피트리', '고덕 하늘채 시그니처', '빌리브 메트로뷰 ', '가야 롯데캐슬 골드아너', '힐스테이트 황금 센트럴', '판교 대장지구 제일풍경채', '간성스위트엠센트럴', '무진로 진아리채', 'e편한세상 두류역', '영종하늘도시(RC-2) 반도유보라', '월성 삼정그린코아', '광안 리슈바 DS 주상복합', 'e편한세상 백련산', '태전2지구 A1블럭', '속초 대광로제비앙', '광주 제일풍경채 센트럴파크', '강서 등촌 두산위브아파트', '광주 무등산 골드클래스 2차', '평택 고덕국제신도시 A-45', '고양 덕은지구 A5블록 대방노블랜드 1차', '대전 신흥 SK VIEW', '대명동 교대역 하늘채 뉴센트원(공공분양)', '다산 신도시 자연앤푸르지오', '신천센트럴자이', '양평 센트럴파크 써밋', '신가동 모아엘가 더 수완', '광주역 자연앤자이', '광주역 태전 경남아너스빌', '오포 더샵 센트럴포레', '서면 순천 모아엘가 리버파크', '광양 푸르지오 더 퍼스트', '이수 푸르지오 더 프레티움', '녹번역 e편한세상 캐슬 2차', '송파 시그니처캐슬', '부천 일루미스테이트', 'e편한세상 김포', '해링턴 플레이스 감삼', '의정부역 센트럴자이&위브캐슬', '서대문 푸르지오 센트럴파크', '평택 고덕국제신도시 A-22블럭 호반 써밋', '고양 덕은 대방노블랜드', '대전 유성 대광로제비앙', '송도 더샵 센트럴파크(E5블럭)', '송도 더샵 프라임뷰(F20-1블럭)', '포레나 천안 두정', '모종 금호어울림 아이퍼스트', 'e편한세상 운정 어반프라임', '염주 더샵 센트럴파크', 'e편한세상 평내', '철산역 롯데캐슬 & SK VIEW 클래스티지', '지제역 더샵 센트럴시티', '마곡 센트레빌', '대봉 더샵 센트럴파크 1차', '대봉 더샵 센트럴파크 2차', '죽젼역 화성파크드림', '여수 경도비전 지에이그린웰', '목동 더샵 리슈빌', '주례 롯데캐슬 골드스마트', '힐스테이트 사하역', '청주 율량 금호어울림 센트로', '수성 데시앙 리버뷰', '중산매곡 에일린의 뜰', '화명신도시 3차 비스타동원', '만촌역 서한포레스트', '당진 송악 경남 아너스빌', '거제 덕진봄 8차 아파트', '보문 리슈빌하우트', '대곡역 두산위브', 'e편한세상 서면 더센트럴', '일성 트루엘 시그니처', '이수교2차 KCC스위첸', '여주역 푸르지오 클라테르', '안양예술공원 두산위브', '스위첸 웰스타워 1차', '스위첸 웰스타워 2차', '해링턴 플레이스 만촌', '포레나 전주에코시티', '도마 e편한세상 포레나', '인천 부평 신일해피트리 더루츠', '우동 센텀 마티안', '포천 모아엘가 리더스파크', '익산 오투그란데 글로벌카운티', '춘천우두지구 B-2블럭 공공분양', '루원시티 2차 SK 리더스뷰', '송도국제도시 디엠시티(B1블럭)', '대신 해모로 센트럴', '힐스테이트 어울림 효자', '해운대 센텀 마티안', '탕정지구 지웰시티푸르지오(2-A1)', '대구역 오페라 W', '무등산 자이&어울림', 'e편한세상 거제 유로아일랜드', '대명역 센트럴 리슈빌', '전주 태평 아이파크', '청주 테크노폴리스 지웰 푸르지오 아파트', '힐스테이트 창경궁', '거제 덕진8차 봄 아파트', '횡성 석미모닝파크', '운암산 우방이유쉘 1차', '데시앙 해링턴플레이스', '양주옥정신도시2차 노블랜드 프레스티지', '힐스테이트 비산 파크뷰', '시민공원 삼정그린코아 더베스트', '인천루원시티 주상복합 린스트라우스', '센텀 KCC 스위첸', '운서 스카이뷰 스카이시티', '광교산 더샵 퍼스트파크', '검단신도시 AA11블럭 예미지 트리플에듀', '증평 미암리 코아루 휴티스', '검단신도시 AA1 호반 써밋 인천 검단2차', '힐스테이트 홍은 포레스트', '꿈의 숲 한신더휴', '인천 검단신도시 대광로제비앙', '고양 덕은 도시개발구역 A2블럭 중흥S-클래스', '서대구 KTX 영무예다음 공동주택', '수성 뷰웰 리버파크', '옥정역 대광로제비앙 41블럭', '옥정역 대광로제비앙 42블럭', '수원 하늘채 더퍼스트 1단지', '수원 하늘채 더퍼스트 2단지', '효창 파크뷰 데시앙', '서면 롯데캐슬 엘루체', '일광신도시 이지더원 2차(12블럭) 공공분양', '일광신도시 이지더원 3차(10블럭) 공공분양', 'DMC 금호 리첸시아', '제주첨단과학기술단지 A23블럭 공공임대주택', '쌍용 더 플래티넘 오목천역', 'e편한세상 초지역 센트럴포레', '힐스테이트 대구역', '인천검단2차 AA12-2블럭 대방노블랜드', '부평 두산위브 더파크', '춘천 롯데캐슬 위너클래스', '안양 아르테자이', '인천 유림노르웨이숲 에듀오션', '여수 죽림 힐스테이트', '더샵 파크 프레스티지', '신평동 사하코오롱하늘채', '힐스테이트푸르지오 주안', '두류 파크 KCC 스위첸', '검단신도시 AB2 신안인스빌 어반퍼스트', '대구역 제일풍경채 위너스카이', '영도 더킹페로스', '힐스테이트 수원 푸르지오', 'e편한세상 부평역 어반루체', '빌리브 클라쎄', '명동2차 화성파크드림', '광주 계림 IPARK SK VIEW(계림2구역)', '검단신도시 모아엘가 그랑데', '청주 가경 아이파크 4단지', '남구 도시첨단 D2블럭 제일풍경채', '평택 고덕국제신도시 A-44블럭', '대봉 서한포레스트', '시흥 장현 공공주택지구 C4블럭', 'e편한세상 홍제 가든플라츠', '이안 오션파크 W', '광명 푸르지오 센트베

In [223]:
# 주택명에서 불용어, 특수기호 제거
stw_h = ['[군인특별공급] ', '[청약자격확인] ']
for i, x in enumerate(houses):
    for s in stw_h:
        houses[i] = houses[i].replace(s, '')
    loc_idx = houses[i].find('(')
    if loc_idx > 0:
        houses[i] = houses[i][:loc_idx]
    
print(set(houses))

{'예천 쌍용아파트', '고덕신도시 EBC-2블록 힐스테이트 고덕 센트럴', 'KTX강릉역 동도센트리움', '미추홀아파트', '북수원자이 렉스비아', '달님마을 4동', '산성역 자이푸르지오', '금촌장미', '집현 현대아파트 105동', '판교밸리자이 C-1블록', '매화 3동', '수성누리빌데시앙', '경남아파트 103-1205', '세종 하늘채 센트레빌', '가화파티오아파트', '용인 양지 동문굿모닝힐 프레스티지', '간성스위트엠센트럴', '황등 오투그란데 디에디션', '안양예술공원 두산위브', '영종 주공아파트 1001동', '오페라 센텀파크 서한이다음', '국군양주병원 아파트', 'BTL 부평관사 하우스디아파트', 'BTL 신동아아파트', '파주 운정신도시 A-5블록 제일풍경채 그랑퍼스트', '힐스테이트 포항', '산내들 I-PARK 아파트', '솔바람 2동, 3동', '한라비발디 111동104호', '대삼아파트', '팔마아파트', '통영 동남맨션아파트', '속초 성호 아파트', '용인 임원마을 104동', '파주 운정신도시 A9블럭 중흥S-클래스 에듀파크 ', '화양빌라 관사', '분당 스카이빌 102동', '반도유보라아이비파크', '지산협화맨션', '성호아파트', '경림아파트 101동', '익산 아름드리아파트', '거진뉴빌리지', '온누리아파트', '[군인특별공급]더샵 양평리버포레', '둥지아파트', '권선관사 111동', '남산비치 아파트', '하나아파트', 'KTX포항역 삼구트리니엔', '여주역 휴먼빌', '해링턴 플레이스 감삼Ⅱ', '대전 하늘채 스카이앤', '칠성그린 아파트', '동대구 더 센트로 데시앙', '부영 아파트', '금촌 장미아파트', '호반베르디움 1차', '사창리데시앙 아파트', '마마스빌', '검단신도시 AA1 호반 써밋 인천 검단2차', '문무아파트 2단지', '울산대현 시티프라디움', '포항 양학 신원아침신도시 퀘렌시아', '성서주공 8단지', '범물보성타운', '시지대백', '신암SD아이프라임', '신안꿈동산아파트', '기린대아파트 13동', '동운디오빌', '아침의빛106동704호', '대구 연경 S-1블록 LH뉴웰시티', '공간그린 아파트', '고양 덕은 도시개발구역 A2블럭 중흥S-클래스', '모아미래도 에듀파크 ', '백호아파트 102동', '무등산 자이&어울림', '낙민아라빌', '서면 롯데캐슬 엘루체', '삼척 강부3차아파트', '[청약자격확인]계양 하늘채 파크포레', '서면 비스타 동원', '무궁화아파트', '힐스테이트 감삼 센트럴', 'e편한세상 백련산', '대봉 더샵 센트럴파크 1차', '충의관사', '[청약자격확인]더샵 양평리버포레', '해피포유 101~102', '안심뉴타운 B2블록 시티프라디움', '16. 조흥아파트 25평', '용두주공APT', '다대리슈빌 ', '행복마루아파트', '수성풀비체', '청라힐 지웰 더 센트로', '[군인특별공급]e편한세상 석림 더노블', '월드컵 아파트 6동', '삼척 신동아아파트', '팔공 팔레스', '덕소 강변 스타힐스', '[청약자격확인]포천 금호어울림 센트럴', '충주 모아미래도 공동주택 ', '서대구역 센텀 화성파크드림 ', '20. 금강아미움 24평, 21. 금강아미움 34평', '익산 어양주공아파트', '평택 고덕국제신도시 A-44블럭', '인천용현 경남아너스빌', '봉담그대가', '해오름', 'sk뷰', '동두천 현성 아파트', '7단지아파트', '성공대아파트 A동,B동', '동대구역 골드클래스', '[군인특별공급]율동지구 한신더휴 B1BL', '봉암서광', '한울아파트 8동', '권선관사 104동', '고양 덕은 대방노블랜드', '달성아파트 바동', '안성 그대가 아파트', '오정 휴먼시아', '상아아파트', '주공스카이빌아파트', '두루말 어울림아파트 104동', '강서 등촌 두산위브아파트', '청구한라아파트', '영신아파트', '고성 삼익아파트', '미리내아파트', '위례 스타힐스', '사당동아파트', '고성 군인아파트 6동 ', '송도 더샵 마리나베이', '용인 드마크 데시앙', '진달래아파트', '울산 번영로 센트리지', '경남아파트101-1001', '신안실크밸리아파트', '경남아파트 101-206', '태종대아파트', '국제아파트', 'e편한세상 주안 에듀서밋', '럭키빌리지', '전곡 석미 모닝아파트', '행정아파트', '대동현대아파트', '부천 소사 현진에버빌', '전주 서신동 플러스 리버하임', '여수 한국아델리움 오션프랑', '논산 월야아파트', '두산신성아파트', '새동네 아파트', '팔공 보성 3차', '고성 율곡타운', '계룡대아파트 22평형', '에버맨션A동101호', '양주 옥정 파크빌리지', '안중우림아파트', '과천주공아파트', '탕정일반산업단지 D2-1블록 호반써밋 그랜드마크', '럭키빌라 2동 302호', '음성삼보아파트', '화랑마을아파트', '마루아파트', '명품ESA아파트', '숲속 주공 아파트', '바다마을', '검단신도시 AA11블럭 예미지 트리플에듀', '힐스테이트 용인 둔전역', '홍인빌라', '아름드리 1단지', '순창 미르채 아파트', '당진 송악 경남 아너스빌', '리버빌아파트', '용암덕일아파트', '태성대아파트 102동', '성남아파트 나동', '엠코 더 프라하', '성우헤스티아', '울산 문수로 드림파크', '철마아파트2동', '안락아파트', '[군인특별공급]계양 하늘채 파크포레', '양주 회천 덕계역 대광로제비앙', '18. 석미한아름 아파트 24평', '두진백로아파트', '범물청아타운', '산곡한신휴아파트', '수성 푸르지오 리버센트', '경기도 광주시 고산2지구 C4블럭 오포자이디오브', '계룡대해미르아파트', '아이엠로즈빌', '해피포유아파트', '울산 뉴시티 에일린의 뜰 1차', '이안아파트', '사상역 경보센트리인 3차 아파트', '천강아파트', '물빛누리 아파트 라동', '동호영조', '한청리츠빌', '포천 한우리아파트', ' 인천계양 A2BL 공공분양 사전청약 ', '연성쉐르빌', '쌍용주공아파트', '우리마을 아파트', '럭키타운아파트', '무지개아파트 107동', '배말타운아파트', '남구 도시첨단 D2블럭 제일풍경채', '금강아파트', '별내자이 더 스타', '용문그린타운', '한미래 101동', '화성시청역 서희스타힐스 4차 숲속마을', '검단 신도시 예미지 퍼스트포레', '창원 롯데캐슬 센텀골드 ', '비호아파트', '아침의빛106동-904호', '안산엘리지움2차 주상복합', '데시앙 해링턴플레이스', '완주 푸르지오 더 퍼스트', '진우파크빌', '검단아파트', '연립', '상록아파트', '주공5차', '입암현대아파트', '구미 IC 광신프로그레스', '창원가포 S-1블록 10년 공공임대', '한라비발디 105동103호', '삼부아파트', '희망누리관사', '더샵 수성라크에르', '번영로 하늘채 센트럴파크', '백두산 아파트 D동', '갑천 1 트리풀시티 힐스테이트', '전곡 석미 아파트', '늘푸른아파트', '힐스테이트 수원 푸르지오', '브라운스톤 부평', '덕계 범양마더빌 매입아파트', '동화아파트', '동원4차', '두루말 어울림아파트 101동', '태성대아파트 101동', '순천 금호어울림 더파크2차', '청솔아파트', '부천 일루미스테이트', '창원 무지개아파트', '송천주공아파트', '평택진우자란아파트', '연립관사A동', '스위첸 웰스타워 2차', 'E. TRINITY 공도 센트럴파크', '청화아파트', '버들아파트', '정선 벨라시티', '영외 보라매A  202동', 'J클래식 아파트', '한라비발디 101동101호', '시민공원 삼정그린코아 더베스트', '거제2구역 레이카운티', '송추 북한산 경남 아너스빌', '태흥누리안빌', '광양 센트럴자이', '[군인특별공급]온양발리 한양립스 더 퍼스트', '상무아파트', '민영 삼익사이버A  105동', '브라운스톤 하나마을', '권선관사 102동', '제주기지 연립관사', '명품ESA104_405', '부송 아름드리 아파트', '성남고등 S-3블럭 공공분양', '화랑아파트', '흑표리슈빌아파트', '힐스테이트 리슈빌', 'e편한세상 강일 어반브릿지 ', '여주역 우남퍼스트빌', '남양주진접2지구 공공분양 사전청약 ', '고양 덕은지구 A5블록 대방노블랜드 1차', '울산 태화강 유블레스 센트럴파크', '영종국제도시 동원로얄듀크', '만촌보성타워', '팜스프링아파트', '삼성아파트 1동', '김해 주촌 일동 미라주 더 네스트', '[군인특별공급]검단역 금강펜테리움 더 시글로', '한일타운', '[청약자격확인]e편한세상 연천 웰스하임', '화성 태안3지구 B1블록', '한화 포레나 천안신부', '영진아파트', '일동', '충정아파트', '이수 푸르지오 더 프레티움', '명지아파트', '횡계 알펜로제아파트', '융창빌라', '오래오빌 101동', '영종주공스카이빌 12단지 아파트', '안성 한일타운아파트', '에버맨션B동402호', '광안 경동리인 아파트', '여주역 금호어울림 베르티스', '공군아파트 308동', '힐스테이트 남천역 더퍼스트', '천마BTL 아파트', '청주 가경 아이파크 5단지', '청주 율량 금호어울림 센트로', '인천서창LH6단지 아파트', '아침의빛105동104호', '양산사송더샵데시앙 6블록', '신안인스빌', '속초 늘푸른 아파트', '삼양금탑맨션', '주내기용아파트', '합강아파트', '공군아파트 301동', '근화베아체', '청구맨션', '송도 아리스타 프라임 ', '동작삼성래미안아파트', '경남모직 안아주', '힐스테이트푸르지오 주안', '제일풍경채아파트', '태평아파트', '이도빌리지', '삼정백조 아파트', '하늘나래아파트 106동', '강릉 이화 아파트', '비인관사', '04. 푸르미아르미소 25평, 31평, 40평', '응봉아파트 101, 102, 103, 104, 105동', '에버맨션B동102호', '삼창그린타운아파트', '두루말 어울림아파트 103동', '청주 동남 B8 호반써밋', '철매아파트 103동', '힐탑아파트', '원창맨션3층302호', '김해율하 더스카이시티 제니스&프라우 ', '힐스테이트 광산', '무학아파트', '스카이빌 1동', '하늘나래아파트 103동', '독산동 아파트', '후암아파트 라동', '한화포레나 인천연수', '충일 106동', '미소지움아파트', '[군인특별공급]화성 태안3지구 B2블럭 우미린 센트포레', '풍림아파트', '늘푸른 ', '에버맨션A동102호', '명품ESA104_307', '강동 중흥S클래스 밀레니얼', '속초 삼환 아파트', '권선관사 113동', '옥인아파트 다동', '세운 푸르지오 헤리시티', '여좌동', '기린대아파트 9동', '영종국제도시 서한이다음 공공분양 ', '기산아파트', '[군인특별공급]양주 옥정 A-1블럭 린 파밀리에 ', '증평삼일아파트', '한라비발디 108동103호', '선비마을아파트', '용인 보평역 서희스타힐스', '공군금성아파트 관사 7동', '이안 센트럴포레 장유 1단지', '화성 봉담2지구 A-5블록 중흥S-클래스', '지산현대맨션', '동해 대동 현대아파트', '이태원 대림 아파트', '문무아파트 1단지', '한아름 아파트', '경림아파트 201동', '권선관사 106동', '강릉 포남일송 아파트', '대구 달서 코아루 더리브', '두진하트리움', '해링턴 플레이스 반월당2차', '민영 삼익사이버A  108동', '아르미안아파트', '힐스테이트 대구역 오페라', '대구역 한라 하우젠트 센트로', '[군인특별공급]율동지구 한신더휴 B2BL', '경산보국웰리치', '권선관사 114동', ' 의정부역 월드메르디앙 웰라시티 ', '삼광빌라 101동', '분평대원아파트', '영암 바다마을', '성우아파트', '구운삼환 아파트', '파주 운정 A10BL 제일풍경채2차 그랑베뉴 ', '센텀 KCC 스위첸', '현진에버빌', '배산 제일2차 아파트', '평택 고덕신도시 제일풍경채 3차 센텀', '횡성 벨라시티', '백두아파트', '중산매곡 에일린의 뜰', '향수마을아파트', '군산 삼성아파트', '백동그린빌', '충성아파트', '군산 나운 금호어울림 센트럴', '정림아파트 102동', '한양아파트', '명동2차 화성파크드림', '하늘나래아파트 104동', '검단신도시 AB2 신안인스빌 어반퍼스트', '백마빌리지', '7A빌리지', '청성아파트 10동', '대동다숲', '윤중후레쉬빌', '코오롱APT', '녹번역 e편한세상 캐슬 2차', '하늘마루 102동', '[군인특별공급]무등산 한국아델리움 더힐 1단지', '이안 더 메트로 ', '흑석 리버파크자이', '파주운정3 A30블록 10년 공공임대', '청구 제네스 아파트', '안양행복마을', '거제 덕진8차 봄 아파트', '[군인특별공급]율동지구 한신더휴 C2BL', '힐스테이트 사하역', '벽제삼마아파트', '삼마아파트 관사', '한라비발디 104동104호', '통일아파트', '신원아파트', '기린대아파트 19동', '안락뜨란채1단지 아파트 101동', '양주옥정신도시2차 노블랜드 프레스티지', '지산에덴타운', '당진 수청2지구', '이안다대오션W', '대전 해모로 더 센트라 ', '다솜아파트', '서화아파트 A동', '지산오차드힐', '신안 실크밸리', '설악아파트', '에버맨션B동201호', '권선관사 117동', '두류 파크 KCC 스위첸', '신세계아파트', '대덕아파트', '아산 삼부르네상스 더힐', '논공주공아파트', '오래오빌 102동', '신철원ESA아파트', '교대역 푸르지오 트레힐스 ', '청운2차아파트', '완주복합행정타운 모아미래도 센트럴시티 1차', '신명아파트', '호반써밋 목동', '명품ESA104_305', '데시앙아파트 1단지', '문덕 19동', '유승아파트', '쌍용 더 플래티넘 범어', '에이트빌', '공덕동 삼성아파트', '화성반월3지구 롯데캐슬 나노시티', '문산어울림', '길음역 롯데캐슬 트윈골드', '김해 푸르지오 하이엔드', '그랑드빌', '창녕그린시티 아파트', '달님마을 3동', '울산 더샵 번영센트로', '오륙도뜨란채', '죽전역 에일린의 뜰', '삼산광명아파트', '김해삼계 삼정그린코아 더 베스트', '삼성스위첼', '다산 월드메르디앙 엔라체', '청림 21동', '중앙로역 푸르지오 더센트럴', '창원 원창호수아파트', '당진 수청2지구 RH-1블록 호반써밋 시그니처', '달님마을 6동', '베스트 그린 28 쌍용아파트', '이동승진아파트 3동', '[군인특별공급]포천 금호어울림 센트럴', '동홍동 센트레빌', '내촌아파트', '태성대아파트 104동', '파주빌리지 3동 501호', '대정관사', '포천 모아엘가 리더스파크', '각화 아델리움 어반센트럴', '퇴계원 군 숙소', '상촌아파트', '비룡아파트', '서호아파트 C동', 'e편한세상 부평역 어반루체', '광주 초월역 한라비발디', '라온유 아파트', '화남빌라', '고덕 하늘채 시그니처', '탕정일반산업단지 D3-1블록 호반써밋 그랜드마크', '데코빌아파트 ', '동대구 해모로 스퀘어 이스트', '대전 용산지구 호반써밋 그랜드파크', '과천주공', '리버아파트', '명천코아루', '대전역 대라수 어썸브릿지 1차, 2차 ', '럭키빌라 1동 301호', '극동그린아파트', '주공아파트', '힐스테이트 동인 ', '삼숭동 GS자이', '[군인특별공급]한화 포레나 안산고잔', '속초 대명3차 아파트', '프리쌍뜨아파트', 'SM안아주아파트', '속초 대명5차 아파트', '영도 더킹페로스', '송지트리뷰아파트', '검단신도시 우미린 에코뷰', '한울아파트 7동', '장미동화아파트', '17. 태창그린빌리지 22평', '신동아파트', '광주 무등산 명지로드힐', '낙원아파트', '달성아파트 사동', '의정부역 센트럴자이&위브캐슬', '동문아파트', '횡성이안 아파트', '시화지구 MTV 파라곤 공동주택 1블록 ', '무극아파트', '산호B동', '포스코아파트', '장사남정연립관사', '향남역 한양수자인 디에스티지', '국신빌라', '용인피렌체 아파트', '[군인특별공급]용현·학익1블럭 시티오씨엘 1단지 ', '영무예다음아파트', '강릉 기산 아파트', '[청약자격확인]평택역 경남아너스빌 디아트', '앙평역 한라비발디', '대주아파트', '수성 데시앙 리버뷰', '횡성 석미모닝파크', '강변리츠빌아파트', 'e편한세상 초지역 센트럴포레', '원통아르미소아파트', '철산역 롯데캐슬 & SK VIEW 클래스티지', '아침의빛106동601호', '용계역 푸르지오 아츠베르 1단지 ', '대연 푸르지오 클라센트', '속초 엘크루 라테라 ', '공군관사 나동', '분당 스카이빌 101동', '다산 신도시 자연앤푸르지오', '미소빌아파트', '도하빌리지', '소라아파트', '공군아파트', '시인의 마을', 'BTL푸른마을 아파트', '봉담자이 라피네', '힐스테이트 용인 고진역 D2블럭 ', '대율관사', '양주회천 A18블럭 공공분양 ', '다사역 금호어울림 센트럴', '양양 심미 아파트', '덕우아트빌 B동', '보배아파트', '양강마을', '스타힐스아파트', '만촌역 서한포레스트', '부평 중앙하이츠', '평택 고덕국제신도시 A-45', '속초 옥토 아파트', '경남아파트101-403', '청주 동남 파라곤', '대자연아파트', '동경타운빌', '오륙도아파트', '광주 더샵 오포센트리체', '양주 옥정신도시 제일풍경채 LAKE CITY', '삼일아파트6동', '광주 대광로제비앙 퍼스트뷰', '동아아파트', '이안 동래 센트럴시티', '용인 명지대역 서희스타힐스 포레스트 ', '마전 양우 내안에 퍼스트힐 ', '세원테마빌 201 ~ 204동', '덕계역 금강펜테리움 센트럴파크', '충주지웰아파트', '탕정일반산업단지 D1-1블록 호반써밋 그랜드마크', '해모로 루비채', '성산아파트', '금천경희아파트', '일원 더샵 온천헤리티지', '빌리브 메트로뷰 ', '하늘마을', '강릉 양우내안애', '명천주공아파트', '스카이빌 3동', '풍경마을래미안 한강 2차아파트', 'e편한세상 지제역', '광교산 더샵 퍼스트파크', '아산주공아파트', '운암산 우방이유쉘 1차', '용인 피렌체아파트', '신길동푸른숲마을', '화서역 푸르지오 브리시엘', '꿈의 숲 한신더휴', '해운대 센텀 마티안', '관사아파트', '과천지식정보타운 공공주택지구', '제주바다빌', '양주옥정 A-20', '양산사송더샵데시앙 7블록', '선봉캐슬', '탑동 힐데스하임', '목동 모아엘가 그랑데 ', '화인빌 아파트 D동', '전진아파트', '두루말 어울림아파트 112동', '밀양 목화타워맨션', '미다움', '빌리브 클라쎄', '세종자이 더시티 ', '평택부대 연립관사', '판교밸리자이 C-3블록', '한강아파트', '양정 포레힐즈 스위첸', '연립관사 1동', '미소마을', '아산 한라비발디 스마트밸리 ', '김천 더 테라스 휴', '진접 상부르네상스 더퍼스트', '비룡아파트 106동', '한울아파트 1동', '공주 신금 우남퍼스트빌', '연립관사 6호', '품안마을아파트', '경산 보국웰리치아파트', '파주빌리지 3동 502호', '속초디오션자이', '무지개아파트 101동 ', '쌍용주공9단지아파트', '기산베스트빌', '일광신도시 이지더원 3차', '아파트', 'e편한세상 비전 센터포레', '아침의빛105동406호', '대봉 더샵 센트럴파크 2차', '신동아파밀리에', '청학 주공아파트', '힐스테이트 대명 센트럴', '기린대아파트 15동', '집현 현대아파트 107동', '하늘마을 가동', '롯데캐슬아인스', '탑동현대아파트', '에버맨션A동302호', '에버맨션A동402호', '청구아파트', '파주빌리지 2동 502호', '안락 스위첸', '에버맨션A동202호', '태전2지구 A1블럭', '한우물아파트', '수원 하늘채 더퍼스트 2단지', '대연 삼정그린코아 더베스트', '우장산숲 아이파크', '[청약자격확인]덕소 강변 라온프라이빗', '다원 파크리안 아파트', '매교역 푸르지오 SK View', '홍도동 다우갤러리휴리움', '제일아파트', '군포당동아파트', '열매아파트', '탕정일반산업단지 D3-2블록 호반써밋 그랜드마크', '구봉마을8단지아파트', '가평자이 아파트', '행복드림아파트', '서면 순천 모아엘가 리버파크', '4호 관사', '금사리 하이빌', '전주 송천주공아파트', '은하수아파트', '공군아파트 35동', '문산장안아파트', '공군아파트 306동', '07. 가온누리 24평', '아침의빛106동402호', '광주역 태전 경남아너스빌', '양주 회천신도시 센트럴아리스타 ', '신창부영아파트', '청운 빌라', '충일 105동', '초원2차아파트', '춘천우두지구 B-2블럭 공공분양', '망정주공아파트', '여수 경도비전 지에이그린웰', '국평단 관사 흑룡아파트', '부자마을아파트', '일신아파트', '국평단 BTL 부평관사 하우스디아파트', 'e편한세상 거제 유로스카이', '원창맨션2층202호', '삼부한신아파트', '이촌강촌아파트', '벽산아파트', '대동황토방아파트', '이안 그랑센텀 천안', '산호아파트', '신곡아파트', '청정아파트', '신천도아파트 나동', '한화 포레나 서충주 ', '천도아파트 D동', '속초 대광로제비앙', '해태아파트', '[군인특별공급]구미송정 범양레우스 센트럴포레 ', '삼주강변타운', '인천 대헌1블록', '세류관사 110동', '대봉 서한포레스트', '속초 부영 아파트', '서빙고대원아파트', '대우푸르지오', '수원 하늘채 더퍼스트 1단지', '하늘나래아파트 107동', '일동아파트', '대구 죽전역 시티프라디움', '반정 아이파크 캐슬', '신도브레뉴', '강릉자이 파인베뉴', '성환부영3차아파트', '백양산 롯데캐슬 골드센트럴', '한화 포레나 천안신부 ', '주공5차APT', '신기역 극동 스타클래스 ', '무지개아파트 108동', '양양 로얄 아파트', '(무주)관사', '서대구센트럴자이', '동양아파트', '신서 그린빌', '분평주공아파트', '한누리아파트', '거제 신우마리나 아파트', '베스트 그린 28 태풍아파트', '청성아파트 8동', '태성대아파트 103동', '인천 부평 신일해피트리 더루츠', '[청약자격확인]용현자이크레스트', '더샵 수성오클레어 ', '삼익플라주아파트', '석수 서조마을아파트', '무궁화아파트102동', '라이프맨션', '신천도아파트 다동', '인천 검단신도시 AB3-1블록 대성베르힐', '쌍용 더 플래티넘 거제아시아드', '쉬리마을', '강릉 입암현대 아파트', 'e편한세상 부평 그랑힐스', '동보아파트', '문경 모전 코아루 노블36', '장유 파크뷰', '문덕마린빌', '엘로이빌2차', '[군인특별공급]아산 ZOOM파크', '판교 대장지구 제일풍경채', '구미 확장2단지 중흥S-클래스', '익산 수도산 광신프로그레스', '문정올림픽훼밀리아파트', '19. 석미모닝파크 아파트 28평', '하동 홍인아키빌', '현대6차아파트', '경남아파트101-806', '내포신도시 이지더원2차', 'DMC SK VIEW I PARK Foret', '철매아파트 102동', '[청약자격확인]이천 진암지구 우방 아이유쉘 메가하이브', '한강신도시롯데캐슬아파트', '대구 더샵 디어엘로', '대구 두류동 빌리뷰 파크뷰 주상복합신축공사', '장산마을아파트', '원주흥업 B-1블록 10년 공공임대', '늘푸른10~12동', '매봉아파트', '강릉 영진 코아루 휴티스 디오션 ', '서서울아파트', '[청약자격확인]용현·학익1블럭 시티오씨엘 1단지 ', '목련아파트 2동', '목련아파트 3동', '성산 삼정그린코아 푸레스트', 'DMC 파인시티자이', '위례스타힐스', '힐스테이트 부평', '원주태장2지구 대원칸타빌', '민영 삼익사이버A  107동', '[군인특별공급]두산위브더제니스 양산', 'B관사', '여수 죽림 힐스테이트', '조한드림아파트', '대구 동인동 대원칸타빌', '하늘마을 나동', '로즈웰아파트', '달성아파트 나동', '솔개연립 가동', '동탄2신도시 동탄역 디에트로 퍼스트지', '[군인특별공급]힐스테이트 모종 네오루체 ', '강릉 힐스테이트 아파트', '안심 B3 호반써밋 이스텔라 ', '익산 푸르지오 더 퍼스트', '고성 오호리 군인아파트', '삼도3차한솔타운', '이수교2차 KCC스위첸', '안동용상 풍림아이원 리버파크', '대청천 경동리인뷰', '햇님마을 3동', '공군아파트 31동', '강릉 내곡한라 아파트', 'HK명가', '대원네스트빌', '예천 명성아파트', '[군인특별공급]덕소 강변 라온프라이빗', '민영 삼익사이버A  102동', '통영 한선파라타운 아파트', '천안 행정타운 센트럴 두산위브', '삼척 동부아파트', '신평동 사하코오롱하늘채', '현저 관사', '현대빌라트', '청양아파트 1동', '화명신도시 3차 비스타동원', '군산 현대파인빌', '중흥아파트', '비승아파트', '송촌토파즈아파트', '엄사동아아파트', '양지푸르지오', '한화 꿈에그린', '늘푸른6~7동', '대송에이스빌', '충일 103동', '충성아파트 5동~6동', '알펜로제아파트', '네스트빌아파트', '청주모충 LH트릴로채 10년 분양전환공공임대주택', '덕산', '동대구역 골드 클래스', '늘푸른5동', '창석빌라', '누리채 아파트 103동', '배산 신일 해피트리', '서산 푸르지오 더센트럴', '평택고덕 A-54블럭 공공분양 ', '양양 푸르미 아파트', '반월당역 서한포레스트', '청천1구역 부평 캐슬 더샵 퍼스트', '청주 가경 아이파크 4단지', '하남감일지구 2블록 한양수자인', '경남아파트101-903', '서울지구병원 아파트', '기린대아파트 7동', 'EG스위트벨리', '용인역북지역주택조합', '동원베네스트 상승빌리지', '남원 오투그란데', '한라비발디아파트', '광안아라빌', '안양 아르테자이', '매봉마을아파트', '서광교 파크 스위첸', '신목동 파라곤', '동서무학맨션', '공군아파트 36동', '대신 해모로 센트럴', '뉴서울선샤인', '해군원정116동', '아름드리 2단지', '힐스테이트 홍은 포레스트', '동대구 해모로 스퀘어 웨스트', '진로아파트', '한라3차 아파트 ', '순창 온리뷰 아파트', '서면 스위트엠 골드에비뉴', '초록지붕', '영진리버빌', '명품ESA104_204', '무학마을 데시앙', '흥화브라운빌아파트', '한마음아파트', '삼호아파트', '천안 푸르지오 레이크 사이드', '삼정백조아파트', '속초 동부아파트', '계룡 한라비발디 더센트럴', '운주산아파트 나동', '[군인특별공급]만촌역 태왕 THE아너스', '한아름 아파트 6동', '소사 뜨란채 주공아파트 ', '인천 검단신도시 대광로제비앙', '아산주은아파트', '하늘채아파트', '천보아파트 3동', '육사아파트', '이안 엑소디움 에이팩스', '금호어울림아파트', '에어팰리스 ', '성남아파트 다동', '염주 더샵 센트럴파크', '삼북주공아파트', '면목동 마젤란21아파트 101동', '한빛아파트', '청구 2차 아파트', '우정아파트 나동', '거창 하나로아파트', '준양참마을', '구봉마을7단지아파트', '쌍용아파트', '산내들 아파트', '서룡아파트', '옥정역 대광로제비앙 41블럭', '광주 계림 IPARK SK VIEW', '라인스위트', '부산 덕천 포레나', '힐스테이트 의정부역', '스카이빌 2동', '대곡역 롯데캐슬 엘클라씨', '호수마을아파트', '청성아파트 9동', '남청아파트', '완주 삼봉지구 B1블록 우미린 에코포레', '양주회천 A21블럭 공공분양 ', '엑소디움 센트럴 동인', '구봉마을5단지아파트', '[군인특별공급]춘천 파밀리에 리버파크', '양주옥정신도시 3차 노블랜드 에듀포레', '백산주택', '창원 푸르지오 더 플래티넘', '더샵 거창포르시엘', '울산 태화강 유보라 팰라티움', '비바체아파트', '양주 덕정 주공아파트', '증평 미암리 코아루 휴티스', '춘천 롯데캐슬 위너클래스', '02-1B. 하이파이브 아파트 ', '평택지제역자이', '스카이빌', '청송 드림빌', '길훈아파트', '양양 해오름 아파트 8동 ', '연화아파트 나동', '[군인특별공급]동탄역 금강펜테리움더 시글로', '두루말 어울림아파트 111동', '거진관사', '힐스테이트 광천', '자이2차아파트', '서귀포대오APT', '일성 트루엘 시그니처', '기린대아파트 6동', '백운아파트 ', '서창아파트', '마전하나아파트', '[군인특별공급]거창 센트럴캐슬 주상복합 ', '공군아파트 305동', '공군금성아파트 관사 6동', '광명아파트102-1004', '충민 아파트', '사상역 경보센트리안 3차', '당진 센트레빌 르네블루 2차', '우미블루빌', '대구역 제일풍경채 위너스카이', '사창리 데시앙 아파트', '휴먼시아 아파트', '사천 동강아파트', '신동아아파트', '대전 한신더휴 리저브', '주안 파크자이 더 플래티넘', '옥구마을계룡2차 아파트', '청라 힐스자이', '삼성아파트 6동', '글로리아파트', '보령현대아파트', 'e편한세상 홍제 가든플라츠', '인천 유림노르웨이숲 에듀오션', '위례스타힐스 2511동', '에버그린아파트', '[군인특별공급]직산역 서희스타힐스', '화일빌 아파트 C동', '한화 포레나 수원 장안', '관사 B동', '서초아파트', '시인의마을', 'M타운', '청주현대아파트', '용두주공아파트', '혜산진아파트', '수성누리빌', '예중 파크뷰 아파트', '덕정주공5단지', '청호하이츠', 'e편한세상 영종국제도시 센텀베뉴', '[군인특별공급]증평 송산지구 칸타빌', '광명 푸르지오 포레나', '두산신성', '한빛맨션', '경주 뉴센트로 에일린의 뜰', '경남 아파트102-101', '구리 인창 대원 칸타빌', 'e편한세상 김포 어반베뉴', '아침의빛109동701호', '[청약자격확인]화성 태안3지구 B2블럭 우미린 센트포레', '응봉아파트 201, 202동', '상동1차 영무예다음', 'E-편한세상 상무 102동', '광주 무등산 골드클래스 2차', '군 건립 6동', '삼척 코아루아파트', '공주대아곰나루아파트', '경남아파트101-602', '복정아파트', '하늘나래아파트 108동', '군 건립 8동', '두레마을 아파트', '영통 롯데캐슬 엘클래스', '안산 중흥S-클래스 더퍼스트', '경남아파트102-704', '롯데캐슬', '놀뫼아파트', '이안 평택 안중역', '달성아파트 마동', '홍천 금호어울림 더퍼스트', '블루힐아파트', '삼척 센트럴 두산위브', '더샵 오산엘리포레 ', '루체클래식', '선유전진타운', '익산 이지움 더 테라스 아트리체', '익산 모현 이지움', '하늘나래아파트 109동', '백동아파트 4동', '다울빌리지', '[군인특별공급]봉담 자이 라피네', '코아루아파트', '한양수자인 디에스티지', '고양삼마아파트', '주공 5차 아파트', '고림지구 3차 양우내안애 더 센트럴', '경산아이파크', '권선관사 115동', '동두천 동남 아파트', '동대구역 화성파크드림', '김해 푸르지오 하이엔드 2차', '달성파크 푸르지오힐스테이트', '밀양 e편한세상 나노밸리', '광주 우방아이유쉘', '맹호 A동, B동', '청운1차아파트 나동', '장현주공', '한라비발디 101동102호', '가야산 한라비발디 프리미어', '광주 제일풍경채 센트럴파크', '연산 포레 서희스타힐스', '아침의빛105동301호', '범물삼주타운', 'ROKA미르CITY', '금강 아미움', '취암모닝빌', '서광아파트', '진천 신양빌라', '경남아파트101-703', '디에이치 퍼스티어 아이파크', '크낙새아파트2동', '온세계아파트', '백마대 아파트 201동', 'LG아파트', '주례 롯데캐슬 골드스마트', '부평삼산 신원아침도시', '신남아파트 9동', '창공아파트 다동', '5단지아파트', '백두산 아파트 A동', '오뚜기빌', '대동아파트', '권선관사 116동', '봉담 프라이드시티', '태백 중앙하이츠', '두루말 어울림아파트 109동', '완주 삼봉지구 B3블록 중흥S-클래스', '국방대학교 연립관사', '매화아파트', '에버맨션B동101호', '용계역 푸르지오 아츠베르 2단지 ', '경동메르빌아파트', '양양 해오름 아파트', '힐스테이트 초곡 ', '화원 신일해피트리 꿈의숲', '모아빌아파트101동', '대전 신흥 SK VIEW', '해병대아파트', '충경마을 아파트', '양주 옥정신도시 제일풍경채 Lake City A10-1블록', '민영 삼익사이버A  101동', '여주 서해 스타 팰리스', '그린팰리스', '영종 주공아파트 1002동', '삼도쉐르빌', '물빛누리 아파트 다동', '골든빌아파트', '지행주공아파트', '서화아파트 B동', '고암두진백로아파트', 'DMC 리버포레자이', '전주 우아한시티', '경남아너스빌', '평택 고덕국제신도시 A-22블럭 호반 써밋', '한울아파트 5동', '동송산호 아파트', '사천 토산아델리움', '누리채 아파트 102동', '당진 아이파크', '부평 SK VIEW 해모로', '사당롯데캐슬아파트', '본부 푸르지오 아파트', '바다마을 아파트', '현대아이파크', '온주빌리지', '동남아파트', '백동아파트 2동', '경남아파트101-1204', '보문 리슈빌하우트', '육사 BTL아파트', '대원칸타빌', '노량진우성아파트', '당진 효성 해링턴플레이스', '경남 아너스빌', '해군연립관사', '아침의빛105동103호', '권선관사 103동', '다청림카운티 관사 105동', '청운아파트', '창원 성산 반도유보라 아이비파크', '캐슬휘닉스3차', '우정아파트 가동', '파주운정신도시 디에트르 더 클래스', '서호아파트 B동', '드림 아인스빌', 'YM프라젠', '양평 휴먼빌 리버파크 어반', '인천 가재울역 트루엘 에코시티', '데코빌', '한라비발디', ' 남양주진접2지구 공공분양 사전청약 ', '천안 청당 서희스타힐스', '공군아파트 307동', '두산아파트', '삼성아파트 3동', '달님마을 5동', '민우아파트', '[군인특별공급]연수 서해그랑블 에듀파크', '김해 거송월드', '동익아파트', '호반베르디움더프라임', '신원아침도시더퍼스트', '공군아파트 302동', '부평역 한라비발디 트레비앙', '유성둔곡지구 서한이다음', '기린대아파트 12동', '문산 한양하이빌아파트', '원주 성호 샤인힐즈', '군산 나운주공아파트', '성지리벨루스', '코오롱아파트', '태앙 아너스', '학운아파트', '서대구 KTX 영무예다음 공동주택', '판교밸리자이 C-2블록', '푸르미소아파트', '덕은지구A3BL 호반써밋 DMC힐즈', '일신님2차아파트', '풍산아파트', '맹호아파트 101동~108동', '노원 롯데캐슬 시그니처', '스무빌아파트', '휴마루아파트', 'e편한세상 두류역', '탕정일반산업단지 D1-2블록 호반써밋 그랜드마크', '푸른마을아파트', '아침의빛106동503호', '혜진아파트', '한움빌리지', '시화영남5단지아파트', '우림필유아파트', '푸르미 아르미소', 'DMC 아트포레자이', '에버맨션A동301호', '계룡자이', '담양 일신프레뷰', '누리채 아파트 101동', '양주회천신도시 노블랜드 센트럴시티', '밀목아파트', '경기도 광주시 고산2지구 C3블럭 오포자이디오브', '하리아파트', '마룡리 B동 아파트  ', '안락뜨란채 1단지', '럭키맨션', '선진아파트', '후암아파트 다동', '울산 지웰시티 자이 2단지', '계룡포스코아파트', '인천 영종국제도시 A47 호반 써밋', '구봉마을아파트', '운서2차 SK VIEW Skycity', '마린빌 1차', '1단지아파트', '동신라메르아파트', '도마 e편한세상 포레나', '포레나 거제 장평', '시흥 센트렐 헤센', '부경파크빌아파트', '미래지향아파트', '광안 리슈바 DS 주상복합', '두루말 어울림아파트 110동', '무진로 진아리채', '덕정주공아파트', '포미재아파트', '안심아파트', '경남아파트101-1305', '옥정역 대광로제비앙 42블럭', '더샵 거제디클리브 ', '양주 옥정신도시 제일풍경채 Lake City A10-2블록', '송도자이 크리스탈오션', '무지개아파트 104동 ', '에이스타운', '세미존서희스타힐스', '힐스테이트 자이 계양 ', '이강리 보라매 관사', '햇님마을 1동', '태성대아파트 105동', '두루말 어울림아파트 107동', '백석 해와달 아파트', '파주 운정신도시 A11블럭 중흥S-클래스 에듀하이 ', '광명아파트101-2005', 'e편한세상 거제 유로아일랜드', '문경 매봉아파트', '양평다문지구 반도유보라 아이비파크', '민영 미주3차A 106동', '한라비발디 108동104호', '덕정96 아파트', '에버맨션B동202호', '시흥 장현 공공주택지구 C4블럭', '하늘나래아파트 105동', '망우역 신원아침도시', '인천루원시티 주상복합 린스트라우스', '관사', '제주 아산프라자', '01. 연천 I-PARK 24평, 02. 연천 I-PARK 28평', '리버 아파트', '백승아파트', '한마음 아파트', '금호대우아파트', '연제 SK VIEW Central', '진격아파트 3동 관사', '영천 아이존빌스타', '한화 포레나 부산덕천 2차 ', '동해 대동아파트', '고성 군인아파트 7,8동 ', '포천산호아파트', '베스트 그린 28 2단지', 'e편한세상 서면 더센트럴', '꿈에그린아파트', '꿈에그린 푸르미마을', '금강매화', '달성아파트 가동', '강릉 롯데캐슬 시그니처 ', '설화명곡역 우방 아이유쉘', '백동아파트 1동', '하우스D아파트', '대암아파트 F동', '충주호암 A-1블록', '집현 현대아파트 102동', 'e편한세상 단양 리버비스타', '별님마을 1동', '백동아파트 3동', '침산동 더샵 프리미엘', '목련아파트 5동', '화순금호아파트', '화원 동화아이위시', '하남 감일 푸르지오', '힐스테이트 용인 고진역 D1블럭 ', '당진 셴트레빌 르네블루', '덕은 삼정그린코아 더 베스트', '인제아르미소', '탕정지구 지웰시티푸르지오', '피렌체 아파트', '용산푸르지오파크타운', '창우마을 아파트', '서충주신도시 월드메르디앙 엔라체 ', '수성 더팰리스 푸르지오 더샵', '안락뜨란채1단지 아파트 104동', '한신아파트', '사상 중흥S클래스 그랜드센트럴', '삼익파크힐스', '화성남양 시티프라디움 4차', '더샵 광양베이센트', '연립관사B동', '새한아파트', '101동 연립관사', '구봉마을 5단지', '성원아파트', '천도아파트 C동', '기린대아파트 16동', '솔바람 1동', '청학 우성스마트시티 뷰', '공군아파트 304동', '석미아파트', '힐스테이트 광교중앙역 퍼스트', '제주첨단과학기술단지 A23블럭 공공임대주택', '현대파인빌', '하남 연립관사', '양산 덕계 경동 스마트홈', '해군원정아파트', '아름수리아파트', '경남아파트102-401', '인천 부평 우미린 아파트', '포천 산호 아파트', '쌍용 더 플래티넘 프리미어', '대동황토방', '명품ESA104_203', '장현주공APT', '대구 두산동 호반써밋 수성', '신림 로마아파트', '오산 롯데캐슬 스카이파크', '진천교성지구 풍림아이원 트리니티', '양산사송더샵데시앙 5블록', '서대문 푸르지오 센트럴파크', '의정부 고산 S3블록 공공분양주택 ', '삼성아파트 7동', '오션빌', '금호아파트', '익산 오투그란데 글로벌카운티', '영광 금호어울림 리더스', '플러스빌', '원창맨션2층201호', '영종하늘도시', '양주신도시 옥정지구 A-17', '고흥 승원팰리체 더퍼스트', '부평 두산위브 더파크', '래미안 엘리니티', '쉐르빌', '한일타운아파트', '힐스테이트 동인', '아파트/연립', '강릉 입암현대아파트', '하늘나래아파트 102동', '[군인특별공급]e편한세상 진천 로얄하임', '원석비바체아파트', '양양 해오름 아파트 7동', '신동탄 포레자이', 'e편한세상 순천 어반타워', '한아름 아파트 7동', '탐라빌', '이안 오션파크 W', '이촌동아그린아파트', '서대구역 화성파크드림', '월배 라온프라이빗 디엘', '울산 지웰시티 자이 1단지', '밤개울아파트', '[군인특별공급]한화 포레나 포항', '안산 푸르지오 브리파크', '지행역 센트레빌 파크뷰 ', '중앙아파트', '용대아파트', '청수행정타운 금호어울림', '신천도아파트 가동', '수원 센트럴 아이파크 자이', '[군인특별공급]수성 해모로 하이엔', '삼승슈퍼타워', '위례스타힐스 2515동', '충북혁신도시 C3블록 동일하이빌 파크테라스', '수성 뷰웰 리버파크', '구정마린빌', '충남내포신도시 1차', '송우주공아파트', '신항만 경남 아너스빌', '봉덕2차 화성파크드림', '덕정주공 매입아파트', '삼성쉐르빌아파트', '힐스테이트 송도 더스카

In [224]:
# 추출한 개체 저장
pd.DataFrame(houses).to_csv(WORK_DIR+'/files/주택.csv', index=False)

## 질문 제작

In [225]:
q_housing = []

In [226]:
w_housing = {
    'LOCALE': locales3,
    'HOUSES': houses,
    'ARMY': ['육군', '해군', '해병대', '공군', '해병'],
    'A': ['근처', '주변', '쪽에',  '지역'],
    'B': ['있어?', '있음?', '뭐가 있어?', '있을까?'],
    'C': ['관사', '주택', '아파트', '청약'],
    'D': ['알려줘', '궁금해', '궁금함', '말해줘', '알고싶어']
}
t_housing = [
    '{LOCALE}{A} {C} {B}',
    '{LOCALE}{A} {ARMY} {C} {B}',
    '{HOUSES}에 대해 {D}',
]

In [230]:
from itertools import product
import random

samples = []
for template in t_housing:
    keylist = get_key_from_template(template)

    if len(keylist)==2:
        # Get all possible cases
        permute = list(product(w_housing[keylist[0]],w_housing[keylist[1]]))
        
        # Random sampling
        permute = random.sample(permute, 4500)

    elif len(keylist)==4:
        # Get all possible cases
        permute = list(product(w_housing[keylist[0]],w_housing[keylist[1]],w_housing[keylist[2]],w_housing[keylist[3]]))
        
        # Random sampling
        permute = random.sample(permute, 4500)
        
    elif len(keylist)==5:
        # Get all possible cases
        permute = list(product(w_housing[keylist[0]],w_housing[keylist[1]],w_housing[keylist[2]],w_housing[keylist[3]],w_housing[keylist[4]]))

        # Random sampling
        permute = random.sample(permute, 1000)

    samples += add_samples(permute)

In [235]:
df_housing = pd.DataFrame(samples, columns=['question'])
df_housing

                           question
0                     달성군지역 관사 있긴해?
1                      아산시부근 주택 있음?
2              세종특별자치시부근 아파트 뭐가 있어?
3                  양양군주변 아파트 뭐가 있어?
4                     경산근처 아파트 있긴해?
...                             ...
9995  [군인특별공급]만촌역 태왕 THE아너스에 대해 알려줘
9996             철매아파트 103동에 대해 말해줘
9997             속초 성호 아파트에 대해 알고싶어
9998                 성호아파트에 대해 알고싶어
9999         충주 모아미래도 공동주택 에 대해 알려줘

[10000 rows x 1 columns]

In [237]:
df_housing.to_csv(WORK_DIR+'files/train_housing.csv', index=False)

## 3.정원
### 1) QnA Template
- 군구분별 직급 인원 질문
    - 군구분별 특정직급 인원 답변
- 군구분별 인원 질문
    - 군구분별 전체직급 인원 답변
- 직급별 인원 질문
    - 직급별 전체 군구분 인원 답변
    
### 2) Named Entity
: 추출해야할 개체 종류 ==> 군구분, 직급

In [238]:
df_personnel = get_dfs(['국방부_신분별 군 정원_20200101.csv'])

[국방부_신분별 군 정원_20200101] # of data : 50 ======================================>

     연도   구분   장교  부사관     병  군무원
0  2010   육군  5.2  7.0  39.8  1.2
1  2010   해군  0.7  1.8   1.7  0.4
2  2010  해병대  0.2  0.5   2.0  0.1
3  2010   공군  1.1  1.9   3.5  0.4
4  2010   기타  0.0  0.0   0.0  0.5

In [243]:
army = df_personnel[0]['구분'].unique()[:-1]
ranks = list(df_personnel[0].columns[2:])
print(army, ranks)

['육군' '해군' '해병대' '공군'] ['장교', '부사관', '병', '군무원']

In [244]:
ranks += ['이병', '일병', '상병', '병장', '병사', '부사관', '장교', '하사', '중사', '상사', '원사', '준위', '소위', '중위', '대위', '소령', '대령', '준장', '소장']

In [245]:
# 추출한 개체 저장
pd.DataFrame(army).to_csv(WORK_DIR+'/files/군구분.csv', index=False)
pd.DataFrame(ranks).to_csv(WORK_DIR+'/files/직급.csv', index=False)

## 질문 제작

In [246]:
q_personnel = []

In [256]:
w_personnel = {
    'ARMY': army,
    'RANK': ranks,
    'A': ['몇명이야?', '몇명있어?', '얼마나 있음?', '몇명임?', '총 몇명?', '몇명이려나'],
    'B': ['인원', '총원', '정원', '명수', '사람수', '인원수'],
    'C': ['알려줘', '궁금해', '궁금함', '말해줘', '알고싶어', '답해줘']
}
t_personnel = [
    '{ARMY}에 {RANK} {A}',
    '{ARMY} {B} {A}',
    '{RANK} {A}',
]

In [257]:
from itertools import product
import random

samples = []
for template in t_personnel:
    keylist = get_key_from_template(template)

    if len(keylist)==2:
        # Get all possible cases
        permute = list(product(w_personnel[keylist[0]],w_personnel[keylist[1]]))

    elif len(keylist)==3:
        # Get all possible cases
        permute = list(product(w_personnel[keylist[0]],w_personnel[keylist[1]],w_personnel[keylist[2]]))

    samples += add_samples(permute)

In [258]:
df_personnel = pd.DataFrame(samples, columns=['question'])
df_personnel

           question
0      육군에 장교 몇명이야?
1      육군에 장교 몇명있어?
2    육군에 장교 얼마나 있음?
3       육군에 장교 몇명임?
4      육군에 장교 총 몇명?
..              ...
829        소장 몇명있어?
830      소장 얼마나 있음?
831         소장 몇명임?
832        소장 총 몇명?
833        소장 몇명이려나

[834 rows x 1 columns]

In [259]:
df_personnel.to_csv(WORK_DIR+'files/train_personnel.csv', index=False)