In [21]:
WORK_DIR='C:\\Users\\KOSCOM\\Desktop\\Chatbot\\'
FILES_DIR=WORK_DIR+'assets/'

In [22]:
import os

raw_datas = []
for dirname, _, filenames in os.walk(FILES_DIR):
    for filename in filenames:
        filepath = os.path.join(dirname, filename)
        print(filename)

국방부 PX 인기상품 정보_20220531.csv
국방부 병사 보급기준 정보_20200924.csv
국방부_TMO(여행장병 안내소) 정보_20190930.csv
국방부_국군복지단 복지시설_20220426.csv
국방부_국군복지단 복지지설 상세 현황_20220426.csv
국방부_군 복지 휴양시설 정보_10_01_2018.csv
국방부_군 복지시설 주변 관광지 정보_20200831.csv
국방부_군병원 정보_20200701.csv
국방부_군인(간부) 봉급표_20200930.csv
국방부_병사 할인 혜택 정보_20220426.csv
국방부_신분별 군 정원_20200101.csv
방위사업청_국방통합 용어사전_20210915.csv
제7296부대 병영 표준 식단.xls.pia
국방부_공군사관학교 교육과정_20200930.csv
국방부_군인연금 기금운용 현황_20201231.csv
국방부_군인연금 기금자산 현황_20201231.csv
국방부_군인연금 수급인원 현황_20201231.csv
국방부_영외 군인아파트 현황_20201231.csv
국방부_육군3사관학교 교육과정_20200930.csv
국방부_육군사관학교 교육과정_20210918.xlsx.pia
국방부_육사신문_20200929.zip
국방부_체력단련장 정보_20190829..csv
국방부_한국국방연구원 도서관 보유 국내외 정기간행물 목록_20210930.csv
국방부_해군사관학교 교육과정_20200930.csv
국방부_현역군인 내 집 마련 정보_20210816.csv
국방전자도서관 도서정보.csv
군사법원 연락처 정보.csv
연도별 장병 체력검정 기준 정보.csv

In [23]:
import pandas as pd
import numpy

In [27]:
file_names = [
    '국방부 PX 인기상품 정보_20220531.csv',
    '국방부 병사 보급기준 정보_20200924.csv',
    '국방부_TMO(여행장병 안내소) 정보_20190930.csv',
    '국방부_국군복지단 복지시설_20220426.csv',
    '국방부_국군복지단 복지지설 상세 현황_20220426.csv',
    '국방부_군 복지 휴양시설 정보_10_01_2018.csv',
    '국방부_군 복지시설 주변 관광지 정보_20200831.csv',
    '국방부_군병원 정보_20200701.csv',
    '국방부_군인(간부) 봉급표_20200930.csv',
    '국방부_병사 할인 혜택 정보_20220426.csv',
    '국방부_신분별 군 정원_20200101.csv',
#     '방위사업청_국방통합 용어사전_20210915.csv',
]

In [38]:
def print_dfs(file_names):
    for fnm in file_names:
        sample_df=pd.read_csv(FILES_DIR+fnm, encoding='utf-8')
        print(f'[{fnm.split(".")[0]}] # of data : {len(sample_df.index)} ======================================>')
        display(sample_df.head())
        print('\n')

In [39]:
print_dfs(file_names)

[국방부 PX 인기상품 정보_20220531] # of data : 1720 ======================================>

   행번호  판매년도  판매월 선정기준                 상품명
0    1  2015    4   금액             LGU군인카드
1    2  2015    4   금액              공화춘자장컵
2    3  2015    4   금액  듀이트리울트라바이탈라이징스네일크림
3    4  2015    4   금액      맥심모카골드마일드 커피믹스
4    5  2015    4   금액             박카스에이 캔

[국방부 병사 보급기준 정보_20200924] # of data : 52 ======================================>

   구분(dvs)  품명(itmnm)  육군(army)  해군(navy)  해병(mr)  공군(af)
0        1        전투복       2.0       NaN     2.0     2.0
1        2  하계전투복(상의)       1.0       NaN     1.0     1.0
2        3  하계전투복(하의)       2.0       NaN     2.0     2.0
3        4       컴뱃셔츠       2.0       2.0     2.0     2.0
4        5        베레모       1.0       NaN     NaN     NaN

[국방부_TMO(여행장병 안내소) 정보_20190930] # of data : 50 ======================================>

,TMO명,일반전화번호,평일운용시간(시작),평일운용시간(종료),주말운용시간(시작),주말운용시간(종료),위치설명,비고
0,강릉,033-641-9690,7:00,18:00,7:00,18:00,3번출구2시방향여자화장실옆,NaN
1,경산,053-750-4556,7:20,17:10,NaN,NaN,경산역출구에서좌측4m지점,휴일미운용
2,계룡,042-550-4254,6:30,20:00,6:30,20:00,계룡역역광장출구방향정면30m지점붉은벽돌건물,NaN
3,광명,02-801-6791,7:00,19:00,7:00,19:00,광명역서편1번출구지하1층,NaN
4,광주송정,062-940-7788,7:00,19:00,7:00,19:00,광주송정역1층운영,NaN

[국방부_국군복지단 복지시설_20220426] # of data : 73 ======================================>

    구분     시설명                        주소           연락처
0  기숙사  대방학사1관       서울시 영등포구여의대방로 49길 3   02-847-0981
1  기숙사  대방학사2관     서울시 영등포구여의대방로 43라길 17   02-832-2219
2  기숙사    도봉학사           경기도 의정부시호암로 129  031-878-2090
3  기숙사    무등학사  광주광역시 동구학소로 62번길 14-45번지  062-226-0164
4  기숙사    무열학사         대구시 달서구와룡로 51길 36  053-750-6917

[국방부_국군복지단 복지지설 상세 현황_20220426] # of data : 106 ======================================>

,운영구분,시설명,지역1,지역2,우편번호,주소1,주소2,일반전화,축제행사,운용객실홀수또는수용능력,...,현역군무원비수기,현역군무원휴일주말,현역군무원성수기,예비역및기타비수기,예비역및기타휴일주말,예비역및기타성수기,비회원비수기,비회원휴일주말,비회원성수기,적용기준일
0,국방부,대천콘도1관,충청,충남,355943,충청남도 보령시 갓바위1길,10월 30일,041-932-6305,NaN,가용객실 47실,...,108000,122000.0,143000.0,119000.0,135000.0,157000.0,146000.0,196000.0,229000.0,NaN
1,국방부,대천콘도1관,충청,충남,355943,충청남도 보령시 갓바위1길,10월 30일,041-932-6305,NaN,가용객실 47실,...,42000,61000.0,74000.0,46000.0,67000.0,82000.0,57000.0,98000.0,119000.0,NaN
2,국방부,대천콘도1관,충청,충남,355943,충청남도 보령시 갓바위1길,10월 30일,041-932-6305,NaN,가용객실 47실,...,42000,61000.0,74000.0,45000.0,67000.0,82000.0,57000.0,98000.0,119000.0,NaN
3,국방부,대천콘도1관,충청,충남,355943,충청남도 보령시 갓바위1길,10월 30일,041-932-6305,NaN,가용객실 47실,...,54000,71000.0,90000.0,59000.0,79000.0,99000.0,73000.0,114000.0,144000.0,NaN
4,국방부,대천콘도1관,충청,충남,355943,충청남도 보령시 갓바위1길,10월 30일,041-932-6305,NaN,가용객실 47실,...,60000,77000.0,95000.0,66000.0,84000.0,105000.0,81000.0,122000.0,153000.0,NaN

[국방부_군 복지 휴양시설 정보_10_01_2018] # of data : 13 ======================================>

,순번,시설 명,위치 주소,객실 수량,규모,연락처,부대시설,홈페이지 주소
0,1,서귀포호텔,제주도 서귀포시 상예로 319,64,지상 7층,064-738-0123,"노래방, 연회장, 스카이라운지, 식당, 커피숍, 매장",www.welfare.mil.kr
1,2,송정콘도,강원도 강릉시 창해로 141,42,지상 3층,033-652-7571,"세미나실, 마트, 노래방",www.welfare.mil.kr
2,3,대천콘도1관,충남 보령시 갓바위 1길 10-30,47,지상 5층,041-932-6305,"노래방, 세미나실, 마트, 배구장",www.welfare.mil.kr
3,4,대천콘도2관,충남 보령시 남포방조제로 139,38,지상 4층,041-934-0504,"세미나실, 노래방",www.welfare.mil.kr
4,5,화진포콘도,강원도 고성군 거진읍 화진포길 330,55,지상 4층,033-682-0500,"노래방, 연회실, 식당, 마트",www.welfare.mil.kr

[국방부_군 복지시설 주변 관광지 정보_20200831] # of data : 17 ======================================>

,행번호,사진제목,지역명,이미지 파일,관련 시설명,시설위치,연락처
0,1,청간정콘도_01,강원,https://www.welfare.mil.kr/editorImageView.do?...,청간정콘도,강원도 고성군 토성면 중앙로 642-22,033-631-9331
1,2,청간정콘도_02,강원,https://www.welfare.mil.kr/board/imgView.do?bf...,청간정콘도,강원도 고성군 토성면 중앙로 642-22,033-631-9331
2,3,청간정콘도_03,강원,https://www.welfare.mil.kr/editorImageView.do?...,청간정콘도,강원도 고성군 토성면 중앙로 642-22,033-631-9331
3,4,화진포콘도_01,강원,https://www.welfare.mil.kr/plant/imgView.do?pf...,화진포콘도,강원도 고성군 거진읍 화진포길 330,033-682-0500
4,5,화진포콘도_02,강원,https://www.welfare.mil.kr/editorImageView.do?...,화진포콘도,강원도 고성군 거진읍 화진포길 330,033-682-0500

[국방부_군병원 정보_20200701] # of data : 12 ======================================>

      병원명   우편번호                      병원 주소        병원 연락처
0  국군강릉병원  25422  강원도 강릉시 주문진읍 동해대로 4371-34  033-662-7802
1  국군고양병원  10268       경기도 고양시 덕양구 혜음로 215      1688-9162
2  국군구리병원  11913           경기도 구리시 인창2로 177  031-331-1777
3  국군대구병원  38427      경북 경산시 하양읍 대경로 425-41  053-750-1731
4  국군대전병원  34059           대전광역시 유성구 자운로 90     1688-9152

[국방부_군인(간부) 봉급표_20200930] # of data : 27 ======================================>

,호봉,소장,준장,대령,중령,소령,대위,중위,소위,준위,원사,상사,중사,하사
0,1,5346400.0,5043700.0,4094500.0,3599200.0,2965300.0,2411900.0,1871200.0,1710000.0,2230300,3127700.0,2163200.0,1744800.0,1661200.0
1,2,5478600.0,5174700.0,4232200.0,3736800.0,3099700.0,2538600.0,1977400.0,1810800.0,2336400,3227700.0,2259100.0,1834500.0,1689600.0
2,3,5610800.0,5305700.0,4369900.0,3874400.0,3234100.0,2665300.0,2083600.0,1911600.0,2442500,3327700.0,2355000.0,1924200.0,1718000.0
3,4,5743000.0,5436700.0,4507600.0,4012000.0,3368500.0,2792000.0,2189800.0,NaN,2548600,3427700.0,2450900.0,2013900.0,1746400.0
4,5,5875200.0,5567700.0,4645300.0,4149600.0,3502900.0,2918700.0,2296000.0,NaN,2654700,3527700.0,2546800.0,2103600.0,1774800.0

[국방부_병사 할인 혜택 정보_20220426] # of data : 89 ======================================>

,행번호,지역,시설명,할인행사명,시작일,종료일,연락처,홈페이지,상세설명
0,1,서울,세종호텔,연중 객실할인,2018-09-17,NaN,02-3705-9115,https://www.welfare.mil.kr,"객실: 50% 이상,연회 : 10%∼15%"
1,2,경남,거제삼성호텔,연중 객실할인,2017-01-01,NaN,055-631-2114,https://www.welfare.mil.kr,객실 55%～62%내외
2,3,경기,베어스타운리조트,연중 객실할인,2016-11-25,NaN,02-456-2014,https://www.cielsportsmedia.co.kr,"프로모션(패키지상품)위주로 운영, 현장결재(최저가보장), 씨엘스포츠 폐쇄몰 이용"
3,4,강원,하이원리조트,연중 객실할인,2017-06-19,NaN,1588-7789,https://www.welfare.mil.kr,"프로모션(패키지상품)위주로 운영, 현장결재(최저가보장)"
4,5,강원,용평리조트 객실할인,연중 객실할인,2016-07-01,NaN,02-456-2014,https://www.welfare.mil.kr,"프로모션(패키지상품)위주로 운영, 현장결재(최저가보장),씨엘스포츠 폐쇄몰 이용"

[국방부_신분별 군 정원_20200101] # of data : 50 ======================================>

     연도   구분   장교  부사관     병  군무원
0  2010   육군  5.2  7.0  39.8  1.2
1  2010   해군  0.7  1.8   1.7  0.4
2  2010  해병대  0.2  0.5   2.0  0.1
3  2010   공군  1.1  1.9   3.5  0.4
4  2010   기타  0.0  0.0   0.0  0.5

In [40]:
# 의도 총 5개
# 복지 : 할인혜택, 휴양시설, 복지시설
# 일반정보 : 군 정원, 보급물품, 봉급, 체력검정기준
# 용어 : 군 용어
# 도서
# 식단